/* line 21, ../../sass/dropdown/style4.scss */
.fleft {
  min-width: 0px;
  margin: -20px 0px -20px 0px; }

/* line 25, ../../sass/dropdown/style4.scss */
.cd-select {
  border: 1px solid #ddd; }

/* line 30, ../../sass/dropdown/style4.scss */
.cd-dropdown,
.cd-select {
  position: relative;
  width: 300px;
  margin: 20px auto;
  display: block; }

/* line 37, ../../sass/dropdown/style4.scss */
.cd-dropdown > span,
.cd-dropdown ul li span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* line 45, ../../sass/dropdown/style4.scss */
.cd-dropdown {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px; }
  /* line 47, ../../sass/dropdown/style4.scss */
  .cd-dropdown span {
    height: 60px;
    line-height: 60px;
    background: #fff;
    display: block;
    position: relative;
    cursor: pointer;
    margin: -10px 0px 0px 0px;
    width: 70%;
    height: 40px;
    font-size: 19px;
    font-weight: 200;
    line-height: 20px;
    padding: 10px 10px;
    color: #313131; }
    /* line 58, ../../sass/dropdown/style4.scss */
    .cd-dropdown span:hover {
      background-color: #4ab134;
      text-decoration: none;
      color: #fff; }
  /* line 63, ../../sass/dropdown/style4.scss */
  .cd-dropdown > span {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0% 50%;
    -moz-transform-origin: 50% 0% 50%;
    -ms-transform-origin: 50% 0% 50%;
    -o-transform-origin: 50% 0% 50%;
    transform-origin: 50% 0% 50%;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s; }
    /* line 73, ../../sass/dropdown/style4.scss */
    .cd-dropdown > span:active {
      -webkit-transform: rotateX(60deg);
      -moz-transform: rotateX(60deg);
      -ms-transform: rotateX(60deg);
      -o-transform: rotateX(60deg);
      transform: rotateX(60deg);
      color: #fff; }
    /* line 77, ../../sass/dropdown/style4.scss */
    .cd-dropdown > span:after {
      content: '\25BC';
      position: absolute;
      right: 0px;
      top: 15%;
      width: 50px;
      text-align: center;
      font-size: 12px;
      padding: 3px;
      height: 70%;
      line-height: 24px; }
    /* line 89, ../../sass/dropdown/style4.scss */
    .cd-dropdown > span:hover {
      background-color: #4ab134;
      text-decoration: none;
      color: #fff; }
  /* line 94, ../../sass/dropdown/style4.scss */
  .cd-dropdown ul {
    position: absolute;
    top: 0px;
    margin-top: 10px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: block; }
    /* line 102, ../../sass/dropdown/style4.scss */
    .cd-dropdown ul li {
      position: absolute;
      width: 100%;
      display: block; }
      /* line 106, ../../sass/dropdown/style4.scss */
      .cd-dropdown ul li span {
        background: #fff;
        line-height: 60px;
        display: block;
        cursor: pointer;
        width: 70%;
        height: 40px;
        font-size: 19px;
        font-weight: 200;
        line-height: 20px;
        padding: 10px 10px;
        color: #313131; }

/* line 120, ../../sass/dropdown/style4.scss */
.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

/* line 124, ../../sass/dropdown/style4.scss */
.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

/* line 130, ../../sass/dropdown/style4.scss */
.cd-active.cd-dropdown > span {
  color: #313131; }
  /* line 132, ../../sass/dropdown/style4.scss */
  .cd-active.cd-dropdown > span:hover {
    background-color: #4ab134;
    text-decoration: none;
    color: #fff; }
  /* line 135, ../../sass/dropdown/style4.scss */
  .cd-active.cd-dropdown > span:after {
    content: '\25B2'; }
/* line 141, ../../sass/dropdown/style4.scss */
.cd-active.cd-dropdown ul li span {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }
  /* line 143, ../../sass/dropdown/style4.scss */
  .cd-active.cd-dropdown ul li span:hover {
    background-color: #4ab134;
    text-decoration: none;
    color: #fff; }
