/* line 1, ../../sass/3d/nojs.scss */
body {
  overflow: auto; }

/* line 4, ../../sass/3d/nojs.scss */
#sg-panel-container {
  display: block; }

/* line 7, ../../sass/3d/nojs.scss */
#sg-panel-container img {
  display: block;
  margin: 10px auto; }

/* line 12, ../../sass/3d/nojs.scss */
.codrops-demo-link {
  position: relative; }
