@import "tags.scss";
@import "compass";

.tagbox{
  @include border-radius(20px);
  @include btn-fade;
  &:focus{
    @include input-focus;
  }
  li{
    
    margin: 0 2px 0 0;
    .tag {
      background-color: $col-flat-blue1;
    }
  }
  .selected{
    .tag{
      background-color: $col-danger;
    }
  }
}



.autocomplete ul {
  
  background-color: $col-flat-blue2;
  li{
    background-color:$col-flat-blue1;
    &:hover{
      background-color: $col-flat-blue11;
    }
    &.over,&.selected{
      background-color: $col-flat-blue11;
    }
  }
}