@charset "UTF-8";
/* line 1, ../sass/fonts.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato','ヒラギノ角ゴ Pro W3','Mplus'; }

/* line 5, ../sass/fonts.scss */
*.input_form {
  font-family: Default; }

@font-face {
  font-family: 'Poiret One';
  src: url("../../fonts/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Light.ttf"); }

@font-face {
  font-family: 'Osaka1';
  font-weight: lighter; }

@fonf-face {
  font-family: 'Mplus';
  src: url("../../fonts/mplus/mplus-1p-thin.ttf"); }

@font-face {}
/* line 29, ../sass/_buttons.scss */
.btn-a {
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 2em;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 36, ../sass/_buttons.scss */
  .btn-a:hover {
    background-color: #58be89;
    text-decoration: none;
    color: #fff; }

/* line 40, ../sass/_buttons.scss */
.btn-black {
  background-color: #ECECEC;
  text-decoration: none;
  color: #3f3f3f;
  padding: 0.5em 2em;
  border: solid 1px #c1c1c1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 47, ../sass/_buttons.scss */
  .btn-black:hover {
    text-decoration: none;
    background-color: #4a4a4a;
    color: white;
    border: solid 1px #4a4a4a; }

/* line 54, ../sass/_buttons.scss */
.btn-green {
  background: #58be89;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 61, ../sass/_buttons.scss */
  .btn-green:hover {
    text-decoration: none;
    background-color: #44b078; }

/* line 66, ../sass/_buttons.scss */
.btn-blue {
  background: #23adc9;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 73, ../sass/_buttons.scss */
  .btn-blue:hover {
    text-decoration: none;
    background-color: #38c1dc; }
  /* line 77, ../sass/_buttons.scss */
  .btn-blue:active {
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
    background-color: #1d8fa6; }

/* line 82, ../sass/_buttons.scss */
.btn-danger {
  background: #f06260;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 89, ../sass/_buttons.scss */
  .btn-danger:hover {
    text-decoration: none;
    background-color: #f4908f; }

/* line 94, ../sass/_buttons.scss */
.btn-orange {
  background: #ffbe00;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 101, ../sass/_buttons.scss */
  .btn-orange:hover {
    color: #f6f6f6;
    text-decoration: none;
    background-color: #ffcb33; }

/* line 108, ../sass/_buttons.scss */
.round {
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 260px;
  -moz-border-radius: 260px;
  -ms-border-radius: 260px;
  -o-border-radius: 260px;
  border-radius: 260px; }

/* line 5, ../sass/all.scss */
hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  border-top: none; }

/* line 10, ../sass/all.scss */
.link {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 600; }

/* line 14, ../sass/all.scss */
body {
  background-color: #E5E5DE;
  color: #3f3f3f; }

/* line 19, ../sass/all.scss */
#contents {
  margin-top: 55px; }

/* line 22, ../sass/all.scss */
#footer {
  clear: both;
  text-align: center; }

/* line 26, ../sass/all.scss */
.nav-brand > img {
  margin: 2px 0;
  width: 100px;
  height: 51px; }

/* line 33, ../sass/all.scss */
div.page-title h1 {
  color: #68c39f; }

/* line 37, ../sass/all.scss */
a:hover {
  color: #68c39f;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }

/* line 46, ../sass/all.scss */
.spoiler {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 48, ../sass/all.scss */
  .spoiler .spoiler-slider {
    display: inline-block;
    padding: 0.5em;
    background-color: #93B8CA;
    color: white; }
    /* line 54, ../sass/all.scss */
    .spoiler .spoiler-slider span, .spoiler .spoiler-slider .list, .spoiler .spoiler-slider #slider {
      float: left; }
    /* line 57, ../sass/all.scss */
    .spoiler .spoiler-slider .list {
      -webkit-appearance: initial;
      -moz-appearance: initial;
      appearance: initial;
      padding-left: 0.4em;
      border: none; }
    /* line 62, ../sass/all.scss */
    .spoiler .spoiler-slider #slider {
      display: inline-block;
      width: 220px;
      margin: 3px 0 0 15px; }

/* line 71, ../sass/all.scss */
div.form.first-content-form {
  position: relative;
  width: 88%;
  margin: 5em auto 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 77, ../sass/all.scss */
  div.form.first-content-form label, div.form.first-content-form h1 {
    color: white; }
  /* line 80, ../sass/all.scss */
  div.form.first-content-form .form-headder {
    padding: 1em 0;
    background-color: #58be89;
    text-align: center; }
  /* line 86, ../sass/all.scss */
  div.form.first-content-form form, div.form.first-content-form .contents {
    display: block;
    background-color: #ccdfcc;
    padding: 1em 2em; }
    /* line 90, ../sass/all.scss */
    div.form.first-content-form form input, div.form.first-content-form form .tagbox, div.form.first-content-form .contents input, div.form.first-content-form .contents .tagbox {
      margin: 0 auto; }
  /* line 95, ../sass/all.scss */
  div.form.first-content-form .form-footer {
    background-color: #58be89;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    width: 100%;
    text-align: left; }
    /* line 102, ../sass/all.scss */
    div.form.first-content-form .form-footer .back {
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      display: inline-block; }
      /* line 104, ../sass/all.scss */
      div.form.first-content-form .form-footer .back:hover {
        color: white;
        text-decoration: none; }

/* line 116, ../sass/all.scss */
div.form.second-content-form .form-header {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: #68c39f;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7ACAAB', endColorstr='#FF68C39F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7acaab), color-stop(100%, #68c39f));
  background-image: -webkit-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: -moz-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: -o-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: linear-gradient(#7acaab 0%, #68c39f 100%);
  background-color: #6d9f58; }
  /* line 122, ../sass/all.scss */
  div.form.second-content-form .form-header .header-left {
    margin: 25px 75px 25px 13%;
    height: 152px;
    width: 152px;
    background-color: #ececec;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    text-align: center;
    display: inline-block;
    line-height: 150px;
    position: relative;
    float: left; }
    /* line 132, ../sass/all.scss */
    div.form.second-content-form .form-header .header-left a.header-link {
      text-decoration: none;
      font-size: 22px;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 600;
      border: 1px solid #68c39f;
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      -ms-border-radius: 300px;
      -o-border-radius: 300px;
      border-radius: 300px; }
      /* line 138, ../sass/all.scss */
      div.form.second-content-form .form-header .header-left a.header-link:hover {
        background-color: #68c39f;
        border: solid 1px #f6f6f6;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: inline-block;
        color: #f6f6f6; }
  /* line 147, ../sass/all.scss */
  div.form.second-content-form .form-header .header-right {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 55%;
    float: left; }
    /* line 153, ../sass/all.scss */
    div.form.second-content-form .form-header .header-right .page-title {
      display: inline-block;
      color: #f6f6f6;
      font-size: 2em;
      line-height: 1em;
      margin-top: 3em;
      text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5); }
  /* line 162, ../sass/all.scss */
  div.form.second-content-form .form-header .div-decoration {
    position: absolute;
    right: -220px;
    width: 500px;
    top: 60px;
    height: 5.7em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    line-height: 5.7em; }
    /* line 171, ../sass/all.scss */
    div.form.second-content-form .form-header .div-decoration span {
      color: #f6f6f6;
      margin-right: 75px;
      font-size: 23px; }
/* line 183, ../sass/all.scss */
div.form.second-content-form .form-footer .btn-blue {
  width: 20em;
  padding: 1em 9em; }
  /* line 186, ../sass/all.scss */
  div.form.second-content-form .form-footer .btn-blue:hover {
    color: #f6f6f6; }

/* line 193, ../sass/all.scss */
.blog-tools {
  margin-left: 2em;
  display: inline-block; }
  /* line 197, ../sass/all.scss */
  .blog-tools .fa {
    text-align: center;
    margin: 0 0.1em;
    font-size: 2.2em;
    color: #e9e9e9;
    height: 2em;
    width: 2em;
    line-height: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em; }
    /* line 205, ../sass/all.scss */
    .blog-tools .fa:hover {
      text-decoration: none;
      color: #3f3f3f; }
    /* line 209, ../sass/all.scss */
    .blog-tools .fa.fa-pencil-square-o {
      color: #ffbe00;
      border: 1px solid #ffbe00;
      line-height: 2.1em; }
      /* line 213, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o:hover {
        color: #cc9800;
        background-color: #ffbe00; }
      /* line 217, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o:active {
        color: #997200;
        background: #cc9800;
        border-color: #cc9800; }
      /* line 222, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o::before {
        margin-left: 6px; }
    /* line 224, ../sass/all.scss */
    .blog-tools .fa.fa-desktop {
      border: solid 1px #2eb2ff;
      color: #2eb2ff;
      line-height: 2.1em; }
      /* line 228, ../sass/all.scss */
      .blog-tools .fa.fa-desktop:hover {
        color: #008ee0;
        background-color: #2eb2ff; }
      /* line 232, ../sass/all.scss */
      .blog-tools .fa.fa-desktop:active {
        color: #006dad;
        background-color: #008ee0;
        border: solid 1px #008ee0; }
    /* line 238, ../sass/all.scss */
    .blog-tools .fa.fa-star {
      border: solid 1px #dcdc44;
      color: #dcdc44; }
      /* line 241, ../sass/all.scss */
      .blog-tools .fa.fa-star:hover {
        color: #c8c825;
        background-color: #dcdc44; }
      /* line 245, ../sass/all.scss */
      .blog-tools .fa.fa-star.checked {
        background-color: #dcdc44;
        color: #c8c825; }
    /* line 250, ../sass/all.scss */
    .blog-tools .fa.fa-trash-o {
      border: solid 1px #f06260;
      color: #f06260; }
      /* line 253, ../sass/all.scss */
      .blog-tools .fa.fa-trash-o:hover {
        color: #d61714;
        background-color: #f06260; }
      /* line 257, ../sass/all.scss */
      .blog-tools .fa.fa-trash-o:active {
        color: #a71210;
        background-color: #ec3431;
        border: solid 1px #ec3431; }
