@charset "UTF-8";
/* line 1, ../sass/fonts.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato','ヒラギノ角ゴ Pro W3','Mplus'; }

/* line 5, ../sass/fonts.scss */
*.input_form {
  font-family: Default; }

@font-face {
  font-family: 'Poiret One';
  src: url("../../fonts/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-light.ttf"); }

@font-face {
  font-family: 'Osaka1';
  font-weight: lighter; }

@fonf-face {
  font-family: 'Mplus';
  src: url("../../fonts/mplus/mplus-1p-thin.ttf"); }

@font-face {}
/* line 29, ../sass/_buttons.scss */
.btn-a {
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 2em;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 36, ../sass/_buttons.scss */
  .btn-a:hover {
    background-color: #58be89;
    text-decoration: none;
    color: #fff; }

/* line 40, ../sass/_buttons.scss */
.btn-black {
  background-color: #ECECEC;
  text-decoration: none;
  color: #3f3f3f;
  padding: 0.5em 2em;
  border: solid 1px #c1c1c1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 47, ../sass/_buttons.scss */
  .btn-black:hover {
    text-decoration: none;
    background-color: #4a4a4a;
    color: white;
    border: solid 1px #4a4a4a; }

/* line 54, ../sass/_buttons.scss */
.btn-green {
  background: #58be89;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 61, ../sass/_buttons.scss */
  .btn-green:hover {
    text-decoration: none;
    background-color: #44b078; }

/* line 66, ../sass/_buttons.scss */
.btn-blue {
  background: #23adc9;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 73, ../sass/_buttons.scss */
  .btn-blue:hover {
    text-decoration: none;
    background-color: #38c1dc; }
  /* line 77, ../sass/_buttons.scss */
  .btn-blue:active {
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
    background-color: #1d8fa6; }

/* line 82, ../sass/_buttons.scss */
.btn-danger {
  background: #f06260;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 89, ../sass/_buttons.scss */
  .btn-danger:hover {
    text-decoration: none;
    background-color: #c61513; }

/* line 94, ../sass/_buttons.scss */
.btn-orange {
  background: #ffbe00;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 101, ../sass/_buttons.scss */
  .btn-orange:hover {
    color: #f6f6f6;
    text-decoration: none;
    background-color: #ffcb33; }

/* line 108, ../sass/_buttons.scss */
.round {
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 260px;
  -moz-border-radius: 260px;
  -ms-border-radius: 260px;
  -o-border-radius: 260px;
  border-radius: 260px; }

/* line 5, ../sass/all.scss */
hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  border-top: none; }

/* line 9, ../sass/all.scss */
body {
  background-color: #E5E5DE;
  color: #3f3f3f; }

/* line 13, ../sass/all.scss */
#contents {
  margin-top: 40px; }

/* line 17, ../sass/all.scss */
.nav-brand > img {
  width: 78px;
  height: 39px; }

/* line 23, ../sass/all.scss */
div.page-title h1 {
  color: #68c39f; }

/* line 27, ../sass/all.scss */
a:hover {
  color: #68c39f; }

/* line 36, ../sass/all.scss */
.spoiler {
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 39, ../sass/all.scss */
  .spoiler .spoiler-slider {
    display: inline-block;
    padding: 0.5em;
    background-color: #93B8CA;
    color: white; }
    /* line 45, ../sass/all.scss */
    .spoiler .spoiler-slider span, .spoiler .spoiler-slider .list, .spoiler .spoiler-slider #slider {
      float: left; }
    /* line 48, ../sass/all.scss */
    .spoiler .spoiler-slider .list {
      -webkit-appearance: initial;
      -moz-appearance: initial;
      appearance: initial;
      padding-left: 0.4em;
      border: none; }
    /* line 53, ../sass/all.scss */
    .spoiler .spoiler-slider #slider {
      display: inline-block;
      width: 220px;
      margin: 3px 0 0 15px; }

/* line 62, ../sass/all.scss */
div.form.first-content-form {
  position: relative;
  width: 88%;
  margin: 5em auto 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 68, ../sass/all.scss */
  div.form.first-content-form label, div.form.first-content-form h1 {
    color: white; }
  /* line 71, ../sass/all.scss */
  div.form.first-content-form .form-headder {
    padding: 1em 0;
    background-color: #58be89;
    text-align: center; }
  /* line 77, ../sass/all.scss */
  div.form.first-content-form form, div.form.first-content-form .contents {
    display: block;
    background-color: #ccdfcc;
    padding: 1em 2em; }
    /* line 81, ../sass/all.scss */
    div.form.first-content-form form input, div.form.first-content-form form .tagbox, div.form.first-content-form .contents input, div.form.first-content-form .contents .tagbox {
      margin: 0 auto; }
  /* line 86, ../sass/all.scss */
  div.form.first-content-form .form-footer {
    background-color: #58be89;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    width: 100%;
    text-align: left; }
    /* line 93, ../sass/all.scss */
    div.form.first-content-form .form-footer .back {
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      display: inline-block; }
      /* line 95, ../sass/all.scss */
      div.form.first-content-form .form-footer .back:hover {
        color: white;
        text-decoration: none; }

/* line 107, ../sass/all.scss */
div.form.second-content-form .form-header {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: #68c39f;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7ACAAB', endColorstr='#FF68C39F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7acaab), color-stop(100%, #68c39f));
  background-image: -webkit-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: -moz-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: -o-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: linear-gradient(#7acaab 0%, #68c39f 100%);
  background-color: #6d9f58; }
  /* line 113, ../sass/all.scss */
  div.form.second-content-form .form-header .header-left {
    margin: 25px 75px 25px 13%;
    height: 150px;
    width: 150px;
    background-color: #ececec;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    text-align: center;
    display: inline-block;
    line-height: 150px;
    position: relative; }
    /* line 122, ../sass/all.scss */
    div.form.second-content-form .form-header .header-left a.header-link {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      -ms-border-radius: 300px;
      -o-border-radius: 300px;
      border-radius: 300px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    /* line 127, ../sass/all.scss */
    div.form.second-content-form .form-header .header-left span {
      font-size: 18px; }
  /* line 131, ../sass/all.scss */
  div.form.second-content-form .form-header .header-right {
    display: inline-block;
    width: 60%; }
    /* line 134, ../sass/all.scss */
    div.form.second-content-form .form-header .header-right .blog-title {
      color: #f6f6f6;
      font-size: 2em;
      text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5); }
  /* line 140, ../sass/all.scss */
  div.form.second-content-form .form-header .div-decoration {
    position: absolute;
    right: -220px;
    width: 500px;
    top: 60px;
    height: 5.7em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    line-height: 5.7em; }
    /* line 149, ../sass/all.scss */
    div.form.second-content-form .form-header .div-decoration span {
      color: #f6f6f6;
      margin-right: 75px;
      font-size: 20px; }
/* line 158, ../sass/all.scss */
div.form.second-content-form .form-footer {
  padding: 1em 2em; }

/* line 162, ../sass/all.scss */
a.header-link:hover .header-left {
  background-color: #68c39f;
  border: 1px solid #f6f6f6; }
  /* line 165, ../sass/all.scss */
  a.header-link:hover .header-left span {
    color: #f6f6f6; }
