/* line 1, ../sass/fonts.scss */
body {
  font-family: 'Lato','Mplus'; }

/* line 5, ../sass/fonts.scss */
*.input_form {
  font-family: Default; }

@font-face {
  font-family: 'Poiret One';
  src: url("../fonts/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-light.ttf"); }

@fonf-face {
  font-family: 'Mplus';
  src: url("../fonts/mplus/mplus-1p-regular"); }

/* line 11, ../sass/all.scss */
#contents {
  margin: 40px; }

/* line 15, ../sass/all.scss */
.nav-brand > img {
  width: 78px;
  height: 39px; }

/* line 21, ../sass/all.scss */
a:hover {
  color: #4ab134; }

/* line 26, ../sass/all.scss */
.btn-a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px;
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  border: none; }
  /* line 29, ../sass/all.scss */
  .btn-a .btn-right {
    float: right; }
  /* line 33, ../sass/all.scss */
  .btn-a:hover {
    background-color: #4ab134;
    text-decoration: none;
    color: #fff; }

/* line 39, ../sass/all.scss */
div #head-all {
  height: 40px; }

/* line 48, ../sass/all.scss */
#debug-kit-toolbar #panel-tabs {
  float: left; }
