body{
	background: #fff url("../img/bridge_bg12.jpg") no-repeat fixed center bottom;
	background-image: url("../img/bridge_bg12.jpg");
	background-position-x: 0%;
	background-position-y: 0%;
	-moz-background-size:cover;
	background-size:cover;
	background-attachment: fixed;
	background-origin: initial;		/*背景をパディングボックスに対して相対的に適用する（初期値）*/
	background-color: rgb(24, 240, 70, 0.85);
}

