div.container {
    margin: 0;
    padding: 0;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 860px;
}
.side-menu {
    width: 200px;
    height: 100%;
    position:absolute;
    background-color: #509B49;
    background-color: rgb(76, 146, 31);
    color: #DDDDDD;
    float: left;
}
div.main {
    width: 100%;
    min-width: 600px;
    margin-left: 210px;
    position: relative;
    height: 100%;
    float: left;
    
}
.line-up {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
.side-menu ul, .side-menu li {
    margin: 0;
    padding: 0;
} 
.side-menu li {
    list-style-type: none;
    background-color: #60AB59;
    background-color: rgb(96, 166, 51);
}
.side-profile {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    background-color: #60AB59;
    background-color: rgb(96, 166, 51);
}
.side-menu .menu {
    margin-top: 20px;
}
.side-menu .menu .icon {
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.side-menu .menu .name {
    margin-left: 10px;
}
.side-menu li:hover {
    background-color: #474B4E;
    background-color: rgb(126, 196, 81);
}
.side-menu li.active {
    background-color: #80CB79;
    background-color: rgb(116, 186, 71);
    color: #333;
    /*
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
    */
}
.side-menu li.active a {
    color: #fff;
}
.side-menu li a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #DDDDDD;
    padding: 10px 5px;
    margin: 1px 0;
    display: block;
    text-decoration: none;
}
div.form{
	background-color: rgba(235,235,236, 0.80);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 90%;
	height: 90%;
	margin: 50px 0px 0px 30px; /*　上　右　下　左 */
	padding: 0 0 50px 0;
	border-radius: 20px;
	font-size: 30px;
	color: rgba(0,0,0, 0.80);
	text-shadow: 3px 3px 3px #999999, -2px -2px 2px #999999;
}
div.form-group {
	margin: 10px 0px 30px 40px;
}
textarea.blog{
	width: 80%;
	height: 400px;
}
.blog:hover{
	border: 3px solid #97F95A;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
