/* Actual content */
/* line 7, ../sass/component.scss */
body {
  background-image: none;
  background-color: #2C2B2B; }

/* line 11, ../sass/component.scss */
.container-item {
  position: relative;
  margin: 0 10px 10px 0px;
  float: left; }
  /* line 15, ../sass/component.scss */
  .container-item:hover {
    opacity: 1; }
  /* line 18, ../sass/component.scss */
  .container-item .item {
    width: 100%;
    height: 100%;
    min-height: 140px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: gray;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
    /* line 31, ../sass/component.scss */
    .container-item .item img {
      position: relative; }
    /* line 34, ../sass/component.scss */
    .container-item .item .item-button {
      position: absolute;
      margin: 8px;
      top: 0px;
      left: 0px;
      background-color: #4f4f4f;
      opacity: 0;
      z-index: 560; }
      /* line 42, ../sass/component.scss */
      .container-item .item .item-button:hover {
        background-color: #333333; }
      /* line 46, ../sass/component.scss */
      .container-item .item .item-button i {
        margin: 4px;
        font-size: 26px;
        color: #eaeaea; }

/* line 56, ../sass/component.scss */
.item:hover .item-content {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
/* line 60, ../sass/component.scss */
.item:hover .item-button {
  opacity: 1; }

/* line 67, ../sass/component.scss */
.product-tag {
  width: 50px;
  height: 100px;
  background: #40c781;
  position: absolute;
  top: -45px;
  right: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  /* line 75, ../sass/component.scss */
  .product-tag span, .product-tag i {
    position: absolute;
    top: 51px;
    left: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 14px;
    color: #fff; }

/* line 84, ../sass/component.scss */
.item-content {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  /* line 91, ../sass/component.scss */
  .item-content .item-top-content {
    position: relative; }
    /* line 93, ../sass/component.scss */
    .item-content .item-top-content .item-top-content-inner {
      position: absolute;
      bottom: 0;
      padding: 2px 3px;
      background: rgba(255, 255, 255, 0.85);
      width: 100%; }

/* Item menu */
/* line 105, ../sass/component.scss */
div.slide-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #36690f;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  /* line 115, ../sass/component.scss */
  div.slide-menu.visible {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999; }
  /* line 120, ../sass/component.scss */
  div.slide-menu:hover {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  /* line 124, ../sass/component.scss */
  div.slide-menu ul {
    list-style-type: none; }
    /* line 126, ../sass/component.scss */
    div.slide-menu ul li {
      -webkit-box-shadow: inset, 0px, 1px, rgba(255, 255, 255, 0.1);
      -moz-box-shadow: inset, 0px, 1px, rgba(255, 255, 255, 0.1);
      box-shadow: inset, 0px, 1px, rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid #434343; }
      /* line 129, ../sass/component.scss */
      div.slide-menu ul li:hover {
        background: #5bb31a; }
      /* line 130, ../sass/component.scss */
      div.slide-menu ul li:first-of-type {
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        border-radius: 1px; }
      /* line 131, ../sass/component.scss */
      div.slide-menu ul li:last-of-type {
        border-bottom-width: 0px; }
      /* line 132, ../sass/component.scss */
      div.slide-menu ul li a {
        color: #eaeaea;
        font-size: 1.3em;
        text-decoration: none;
        line-height: 30px;
        padding: 0 8px;
        display: block; }
