/* line 10, ../sass/all.scss */
a:hover {
  color: #4ab134; }

/* line 15, ../sass/all.scss */
.btn-a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px;
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  float: left; }
  /* line 18, ../sass/all.scss */
  .btn-a:hover {
    background-color: #4ab134;
    text-decoration: none;
    color: #fff; }

/* line 24, ../sass/all.scss */
div #head-all {
  height: 40px; }

/* line 32, ../sass/all.scss */
div.home_logo {
  background-image: url("../img/Bridge_cool.png");
  background-size: contain;
  position: static;
  width: 120px;
  height: 80px;
  background-repeat: no-repeat;
  margin-top: -60px;
  background-position-x: -16px;
  background-position-y: 27px; }

/* line 45, ../sass/all.scss */
#debug-kit-toolbar #panel-tabs {
  float: left; }

/* line 3, ../sass/menu.scss */
body {
  line-height: 20px;
  z-index: 1; }

/* line 8, ../sass/menu.scss */
p {
  margin: 0 10px 10px; }

/* line 10, ../sass/menu.scss */
a {
  display: block;
  padding: 10px;
  color: #000; }

/* line 16, ../sass/menu.scss */
.btn-a {
  float: right;
  font-size: 19px;
  padding: 10px 24px; }

/* line 21, ../sass/menu.scss */
li a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px;
  margin: 0 1px 0 0; }
  /* line 25, ../sass/menu.scss */
  li a:hover, li a:focus, li a:active {
    background-color: #4ab134;
    text-decoration: none;
    color: #fff; }
  /* line 28, ../sass/menu.scss */
  li a .menu-list {
    @iclude btn-fade; }
    /* line 30, ../sass/menu.scss */
    li a .menu-list:hover, li a .menu-list:focus, li a .menu-list:active {
      @iclude btn-hover; }

/* line 38, ../sass/menu.scss */
ul #menu {
  text-align: left; }
/* line 41, ../sass/menu.scss */
ul #right {
  float: right; }

/* line 46, ../sass/menu.scss */
header#header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 20px;
  font-size: 19px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

/* line 58, ../sass/menu.scss */
div #singModal, div #loginModal {
  z-index: 2; }
/* line 61, ../sass/menu.scss */
div #navi {
  margin: -30px 0px 0px 0px; }

/* line 67, ../sass/menu.scss */
.dropdown-menu {
  margin: 0 0 0 -5px;
  min-width: 0px;
  font-size: 16px; }
  /* line 72, ../sass/menu.scss */
  .dropdown-menu .divider {
    margin: 4px 0;
    border-bottom: 1px solid #777777; }
  /* line 76, ../sass/menu.scss */
  .dropdown-menu li > a {
    margin: 0;
    padding: 5px 10px 5px 10px; }
    /* line 80, ../sass/menu.scss */
    .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu li > a:active {
      background-color: #4ab134;
      text-decoration: none;
      color: #fff; }

/* line 86, ../sass/menu.scss */
.container {
  min-height: 100%; }

/* line 91, ../sass/menu.scss */
div .modal-content {
  z-index: 1001; }
  /* line 93, ../sass/menu.scss */
  div .modal-content h4 {
    font-size: 22px; }
/* line 97, ../sass/menu.scss */
div .input_form {
  width: 100%;
  margin-bottom: 10px; }
/* line 101, ../sass/menu.scss */
div .modal {
  width: 35%;
  left: 54%;
  display: none; }
/* line 106, ../sass/menu.scss */
div .modal-body {
  margin: 0;
  padding: 0; }
/* line 109, ../sass/menu.scss */
div .modal-dialog {
  width: 30%;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  left: 35%; }
/* line 115, ../sass/menu.scss */
div .container {
  width: 100%;
  padding: 15px 15px 0 15px; }
/* line 119, ../sass/menu.scss */
div .modal-footer {
  padding: 15px; }

/* line 125, ../sass/menu.scss */
.modal-body {
  margin: 0;
  padding: 0; }

/* line 3, ../sass/diary.scss */
body {
  background-image: url("../img/backgroudImage.png"); }

/* line 7, ../sass/diary.scss */
th {
  font-size: 14px;
  color: #313131; }

/* line 11, ../sass/diary.scss */
td {
  font-size: 11px; }

/* line 15, ../sass/diary.scss */
table > tbody > tr > td > a {
  font-size: 12px; }

/* line 20, ../sass/diary.scss */
form#BlogAddForm label {
  font-size: 23px;
  padding: 10px 0 10px 0; }
/* line 24, ../sass/diary.scss */
form#BlogAddForm #BlogTitle {
  height: 35px;
  width: 90%;
  font-size: 17px;
  display: block; }
/* line 31, ../sass/diary.scss */
form#BlogAddForm #ckeditor label {
  font-size: 90px; }

/* line 38, ../sass/diary.scss */
div .container {
  margin: 0;
  padding: 0;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 860px; }
/* line 46, ../sass/diary.scss */
div .main {
  width: 100%;
  min-width: 600px;
  margin-left: 210px;
  position: relative;
  height: 100%;
  float: left; }
/* line 54, ../sass/diary.scss */
div .line-up {
  margin: 0;
  padding: 0;
  margin-top: 50px; }
/* line 58, ../sass/diary.scss */
div form {
  background-color: rgba(235, 235, 236, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 90%;
  height: 90%;
  margin: 50px 0px 0px 30px;
  padding: 0 0 50px 0;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.8); }
/* line 69, ../sass/diary.scss */
div .form-group {
  margin: 10px 0 30px 40px; }

/* line 73, ../sass/diary.scss */
.side-menu {
  width: 200px;
  height: 100%;
  position: absolute;
  background-color: #509B49;
  background-color: #4c921f;
  color: #DDDDDD;
  float: left; }
  /* line 82, ../sass/diary.scss */
  .side-menu .menu {
    margin-top: 20px; }
    /* line 84, ../sass/diary.scss */
    .side-menu .menu .icon {
      width: 20px;
      height: 20px;
      text-align: center;
      margin: 0;
      padding: 0; }
    /* line 91, ../sass/diary.scss */
    .side-menu .menu .name {
      margin-left: 10px; }
  /* line 96, ../sass/diary.scss */
  .side-menu li {
    list-style-type: none;
    background-color: #60AB59;
    background-color: #60a633; }
    /* line 100, ../sass/diary.scss */
    .side-menu li:hover {
      background-color: #474B4E;
      background-color: #7ec451; }
    /* line 104, ../sass/diary.scss */
    .side-menu li:active {
      background-color: #80CB79;
      background-color: #74ba47;
      color: #333;
      /*
      border-top: solid 1px #111;
      border-bottom: solid 1px #111;
      */ }
      /* line 112, ../sass/diary.scss */
      .side-menu li:active a {
        color: #fff; }
    /* line 116, ../sass/diary.scss */
    .side-menu li a {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      color: #DDDDDD;
      padding: 10px 5px;
      margin: 1px 0;
      display: block;
      text-decoration: none; }
  /* line 128, ../sass/diary.scss */
  .side-menu ul, .side-menu li {
    margin: 0;
    padding: 0; }

/* line 134, ../sass/diary.scss */
.side-profile {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  background-color: #60AB59;
  background-color: #60a633; }

/* line 143, ../sass/diary.scss */
textarea.blog {
  width: 80%;
  height: 400px; }
  /* line 146, ../sass/diary.scss */
  textarea.blog:hover {
    border: 3px solid #97F95A;
    opacity: 0.6;
    filter: alpha(opacity=60); }

/* line 153, ../sass/diary.scss */
a.cke_dialog_ui_button {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px;
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  float: left;
  background-color: #4ab134; }
