/* line 1, ../sass/fonts.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato','Osaka1','Mplus'; }

/* line 5, ../sass/fonts.scss */
*.input_form {
  font-family: Default; }

@font-face {
  font-family: 'Poiret One';
  src: url("../fonts/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-light.ttf"); }

@font-face {
  font-family: 'Osaka1';
  font-weight: lighter; }

@fonf-face {
  font-family: 'Mplus';
  src: url("../fonts/mplus/mplus-1p-thin.ttf"); }

/* line 8, ../sass/all.scss */
#contents {
  margin-top: 40px; }

/* line 12, ../sass/all.scss */
.nav-brand > img {
  width: 78px;
  height: 39px; }

/* line 18, ../sass/all.scss */
a:hover {
  color: #4ab134; }

/* line 23, ../sass/all.scss */
.btn-a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  border: none; }
  /* line 26, ../sass/all.scss */
  .btn-a .btn-right {
    float: right; }
  /* line 30, ../sass/all.scss */
  .btn-a:hover {
    background-color: #4ab134;
    text-decoration: none;
    color: #fff; }

/* line 36, ../sass/all.scss */
div #head-all {
  height: 40px; }

/* line 3, ../sass/menu.scss */
body {
  line-height: 20px;
  z-index: 1; }

/* line 8, ../sass/menu.scss */
p {
  margin: 0 10px 10px; }

/* line 10, ../sass/menu.scss */
a {
  color: #333333; }

/* line 16, ../sass/menu.scss */
ul #menu {
  text-align: left; }
/* line 19, ../sass/menu.scss */
ul #right {
  float: right; }

/* line 25, ../sass/menu.scss */
div #singModal, div #loginModal {
  z-index: 2; }
/* line 28, ../sass/menu.scss */
div #navi {
  margin: -30px 0px 0px 0px; }

/* line 33, ../sass/menu.scss */
.container {
  min-height: 100%; }

/* line 38, ../sass/menu.scss */
div .modal-header {
  padding: 10px 20px; }
/* line 41, ../sass/menu.scss */
div .modal-body {
  padding: 20px 20px 0px 20px; }
/* line 44, ../sass/menu.scss */
div .modal-footer {
  padding: 0 20px 15px 20px; }
  /* line 46, ../sass/menu.scss */
  div .modal-footer .submit {
    float: left; }
  /* line 49, ../sass/menu.scss */
  div .modal-footer a {
    float: right;
    font-size: 11px;
    margin: 0px 5px 0px 0px; }
    /* line 53, ../sass/menu.scss */
    div .modal-footer a:hover {
      text-decoration: none; }
  /* line 57, ../sass/menu.scss */
  div .modal-footer .checkbox {
    float: left;
    margin-left: 15px; }
    /* line 60, ../sass/menu.scss */
    div .modal-footer .checkbox label {
      margin-right: 10px; }

/* line 4, ../sass/diary.scss */
body {
  background-color: #2C2B2B; }

/* line 8, ../sass/diary.scss */
th {
  color: #313131;
  font-size: 14px; }

/* line 12, ../sass/diary.scss */
td {
  font-size: 11px; }

/* line 16, ../sass/diary.scss */
table > tbody > tr > td > a {
  font-size: 12px; }

/* line 20, ../sass/diary.scss */
div#diary {
  margin: 20px; }

/* line 24, ../sass/diary.scss */
div#diary-index {
  margin: 0 auto; }
  /* line 28, ../sass/diary.scss */
  div#diary-index .cont {
    background-color: #BEBEBE;
    display: inline;
    overflow: hidden;
    margin: 10px;
    margin-top: 0px; }
    /* line 35, ../sass/diary.scss */
    div#diary-index .cont a.btn-a.btn-size-ss {
      font-size: 14px;
      padding: 3px 12px;
      margin: 0.5em 1em; }
    /* line 39, ../sass/diary.scss */
    div#diary-index .cont a.right {
      float: right;
      margin: 0.5em 1em; }
    /* line 43, ../sass/diary.scss */
    div#diary-index .cont a.link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 550; }
    /* line 58, ../sass/diary.scss */
    div#diary-index .cont .overlay {
      width: 100%;
      height: 100%;
      opacity: 0.8;
      position: absolute;
      border-bottom: 20px solid white;
      z-index: 500; }
    /* line 66, ../sass/diary.scss */
    div#diary-index .cont a.link:hover div.overlay {
      border-bottom-width: 200px solid blue; }
    /* line 74, ../sass/diary.scss */
    div#diary-index .cont div.blog-info {
      z-index: 560;
      position: absolute;
      bottom: -43px;
      display: block;
      width: 100%; }
      /* line 80, ../sass/diary.scss */
      div#diary-index .cont div.blog-info a.blog-title {
        display: block; }

/* line 88, ../sass/diary.scss */
form#BlogAddForm label {
  margin: 10px 30px;
  padding: 10px 0;
  font-size: 23px; }
/* line 93, ../sass/diary.scss */
form#BlogAddForm #BlogTitle {
  display: block;
  width: 90%;
  height: 35px;
  font-size: 17px; }
/* line 100, ../sass/diary.scss */
form#BlogAddForm #ckeditor label {
  font-size: 90px; }
/* line 104, ../sass/diary.scss */
form#BlogAddForm .form-control {
  margin: 0px 30px; }
/* line 107, ../sass/diary.scss */
form#BlogAddForm div.tagbox {
  -webkit-box-shadow: black 0px 0px 0px 0px;
  -moz-box-shadow: black 0px 0px 0px 0px;
  box-shadow: black 0px 0px 0px 0px;
  margin: 0px 30px;
  width: 90%;
  border-radius: 0px; }
  /* line 112, ../sass/diary.scss */
  form#BlogAddForm div.tagbox ul {
    -webkit-box-shadow: black 0px 0px 0px 0px;
    -moz-box-shadow: black 0px 0px 0px 0px;
    box-shadow: black 0px 0px 0px 0px;
    border-radius: 0px; }
/* line 117, ../sass/diary.scss */
form#BlogAddForm #cke_ckeditor {
  margin: 0px 30px; }

/* line 123, ../sass/diary.scss */
div .container {
  margin: 0;
  padding: 0;
  min-width: 860px;
  min-height: 100%;
  width: 100%;
  height: auto !important;
  height: 100%; }
/* line 131, ../sass/diary.scss */
div .main {
  position: relative;
  float: left;
  margin-left: 210px;
  min-width: 600px;
  width: 100%;
  height: 100%; }
/* line 139, ../sass/diary.scss */
div .line-up {
  margin: 0;
  padding: 0;
  margin-top: 50px; }
/* line 143, ../sass/diary.scss */
div form {
  margin: 50px 0px 0px 30px;
  padding: 0 0 50px 0;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  background-color: rgba(235, 235, 236, 0.8);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.8); }
/* line 154, ../sass/diary.scss */
div .form-group {
  margin: 10px 0 30px 40px; }

/* line 158, ../sass/diary.scss */
.side-menu {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #509B49;
  background-color: #4c921f;
  color: #DDDDDD; }
  /* line 167, ../sass/diary.scss */
  .side-menu .menu {
    margin-top: 20px; }
    /* line 169, ../sass/diary.scss */
    .side-menu .menu .icon {
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      text-align: center; }
    /* line 176, ../sass/diary.scss */
    .side-menu .menu .name {
      margin-left: 10px; }
  /* line 181, ../sass/diary.scss */
  .side-menu li {
    background-color: #60AB59;
    background-color: #60a633;
    list-style-type: none; }
    /* line 185, ../sass/diary.scss */
    .side-menu li:hover {
      background-color: #474B4E;
      background-color: #7ec451; }
    /* line 189, ../sass/diary.scss */
    .side-menu li:active {
      background-color: #80CB79;
      background-color: #74ba47;
      color: #333;
      /*
      border-top: solid 1px #111;
      border-bottom: solid 1px #111;
      */ }
      /* line 197, ../sass/diary.scss */
      .side-menu li:active a {
        color: #fff; }
    /* line 201, ../sass/diary.scss */
    .side-menu li a {
      margin: 0;
      padding: 0;
      display: block;
      margin: 1px 0;
      padding: 10px 5px;
      width: 100%;
      height: 100%;
      color: #DDDDDD;
      text-decoration: none; }
  /* line 213, ../sass/diary.scss */
  .side-menu ul, .side-menu li {
    margin: 0;
    padding: 0; }

/* line 220, ../sass/diary.scss */
.side-profile {
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #60AB59;
  background-color: #60a633;
  text-align: center; }

/* line 229, ../sass/diary.scss */
textarea.blog {
  width: 80%;
  height: 400px; }
  /* line 232, ../sass/diary.scss */
  textarea.blog:hover {
    border: 3px solid #97F95A;
    opacity: 0.6;
    filter: alpha(opacity=60); }
