/* line 16, ../sass/all.scss */
a:hover {
  color: #4ab134; }

/* line 22, ../sass/all.scss */
div.home_logo {
  background-image: url("../img/Bridge_cool.png");
  background-size: contain;
  position: static;
  width: 120px;
  height: 86px;
  background-repeat: no-repeat; }

/* line 31, ../sass/all.scss */
.home_logo {
  margin-top: -30px;
  margin-right: -30px; }

/* line 3, ../sass/menu.scss */
body {
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  padding: 0px; }

/* line 10, ../sass/menu.scss */
p {
  margin: 0 10px 10px; }

/* line 14, ../sass/menu.scss */
a {
  display: block;
  padding: 10px;
  color: #000; }

/* line 20, ../sass/menu.scss */
li a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px;
  margin: 0 1px 0 0; }
  /* line 24, ../sass/menu.scss */
  li a:hover, li a:focus {
    background-color: #4ab134;
    text-decoration: none;
    color: white; }

/* line 32, ../sass/menu.scss */
a.menu-list {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px; }
  /* line 35, ../sass/menu.scss */
  a.menu-list:hover {
    background-color: #4ab134;
    text-decoration: none;
    color: white; }

/* line 43, ../sass/menu.scss */
ul #menu {
  text-align: left; }
/* line 46, ../sass/menu.scss */
ul #right {
  float: right; }

/* line 51, ../sass/menu.scss */
header#header {
  position: relative;
  width: auto;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 21px; }

/* line 59, ../sass/menu.scss */
div#navi {
  margin: -30px 0px 0px 0px; }

/* line 64, ../sass/menu.scss */
.dropdown-menu {
  margin: 0 0 0 -5px;
  min-width: 0px;
  font-size: 16px; }
  /* line 69, ../sass/menu.scss */
  .dropdown-menu .divider {
    margin: 4px 0;
    border-bottom: 1px solid #717171; }
  /* line 74, ../sass/menu.scss */
  .dropdown-menu li > a {
    margin: 0;
    padding: 5px 10px 5px 10px; }
    /* line 78, ../sass/menu.scss */
    .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
      color: #fff;
      text-decoration: none;
      background-color: #45b329;
      background-image: none; }

/* line 87, ../sass/menu.scss */
.container {
  min-height: 100%; }

/* line 91, ../sass/menu.scss */
div.modal-content .input_form {
  width: 90%;
  margin: 10px; }

/* line 95, ../sass/menu.scss */
.modal {
  width: 35%;
  left: 54%; }
