@charset "UTF-8";
/* line 1, ../sass/fonts.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato','ヒラギノ角ゴ Pro W3','Mplus'; }

/* line 5, ../sass/fonts.scss */
*.input_form {
  font-family: Default; }

@font-face {
  font-family: 'Poiret One';
  src: url("../../fonts/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Light.ttf"); }

@font-face {
  font-family: 'Osaka1';
  font-weight: lighter; }

@fonf-face {
  font-family: 'Mplus';
  src: url("../../fonts/mplus/mplus-1p-thin.ttf"); }

@font-face {}
/* line 29, ../sass/_buttons.scss */
.btn-a {
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 2em;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 36, ../sass/_buttons.scss */
  .btn-a:hover {
    background-color: #58be89;
    text-decoration: none;
    color: #fff; }

/* line 40, ../sass/_buttons.scss */
.btn-black {
  background-color: #ECECEC;
  text-decoration: none;
  color: #3f3f3f;
  padding: 0.5em 2em;
  border: solid 1px #c1c1c1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 47, ../sass/_buttons.scss */
  .btn-black:hover {
    text-decoration: none;
    background-color: #4a4a4a;
    color: white;
    border: solid 1px #4a4a4a; }

/* line 54, ../sass/_buttons.scss */
.btn-green {
  background: #58be89;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 61, ../sass/_buttons.scss */
  .btn-green:hover {
    text-decoration: none;
    background-color: #44b078; }

/* line 66, ../sass/_buttons.scss */
.btn-blue {
  background: #23adc9;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 73, ../sass/_buttons.scss */
  .btn-blue:hover {
    text-decoration: none;
    background-color: #38c1dc; }
  /* line 77, ../sass/_buttons.scss */
  .btn-blue:active {
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
    background-color: #1d8fa6; }

/* line 82, ../sass/_buttons.scss */
.btn-danger {
  background: #f06260;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 89, ../sass/_buttons.scss */
  .btn-danger:hover {
    text-decoration: none;
    background-color: #f4908f; }

/* line 94, ../sass/_buttons.scss */
.btn-orange {
  background: #ffbe00;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  /* line 101, ../sass/_buttons.scss */
  .btn-orange:hover {
    color: #f6f6f6;
    text-decoration: none;
    background-color: #ffcb33; }

/* line 108, ../sass/_buttons.scss */
.round {
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 260px;
  -moz-border-radius: 260px;
  -ms-border-radius: 260px;
  -o-border-radius: 260px;
  border-radius: 260px; }

/* line 5, ../sass/all.scss */
hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  border-top: none; }

/* line 10, ../sass/all.scss */
.link {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 600; }

/* line 14, ../sass/all.scss */
body {
  background-color: #E5E5DE;
  color: #3f3f3f; }

/* line 19, ../sass/all.scss */
#contents {
  margin-top: 55px; }

/* line 22, ../sass/all.scss */
#footer {
  clear: both;
  text-align: center; }

/* line 26, ../sass/all.scss */
.nav-brand > img {
  margin: 2px 0;
  width: 100px;
  height: 51px; }

/* line 33, ../sass/all.scss */
div.page-title h1 {
  color: #68c39f; }

/* line 37, ../sass/all.scss */
a:hover, i:hover {
  color: #68c39f;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }

/* line 46, ../sass/all.scss */
.spoiler {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 48, ../sass/all.scss */
  .spoiler .spoiler-slider {
    display: inline-block;
    padding: 0.5em;
    background-color: #93B8CA;
    color: white; }
    /* line 54, ../sass/all.scss */
    .spoiler .spoiler-slider span, .spoiler .spoiler-slider .list, .spoiler .spoiler-slider #slider {
      float: left; }
    /* line 57, ../sass/all.scss */
    .spoiler .spoiler-slider .list {
      -webkit-appearance: initial;
      -moz-appearance: initial;
      appearance: initial;
      padding-left: 0.4em;
      border: none; }
    /* line 62, ../sass/all.scss */
    .spoiler .spoiler-slider #slider {
      display: inline-block;
      width: 220px;
      margin: 3px 0 0 15px; }

/* line 71, ../sass/all.scss */
div.form.first-content-form {
  position: relative;
  width: 88%;
  margin: 5em auto 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 77, ../sass/all.scss */
  div.form.first-content-form label, div.form.first-content-form h1 {
    color: white; }
  /* line 80, ../sass/all.scss */
  div.form.first-content-form .form-headder {
    padding: 1em 0;
    background-color: #58be89;
    text-align: center; }
  /* line 86, ../sass/all.scss */
  div.form.first-content-form form, div.form.first-content-form .contents {
    display: block;
    background-color: #ccdfcc;
    padding: 1em 2em; }
    /* line 90, ../sass/all.scss */
    div.form.first-content-form form input, div.form.first-content-form form .tagbox, div.form.first-content-form .contents input, div.form.first-content-form .contents .tagbox {
      margin: 0 auto; }
  /* line 95, ../sass/all.scss */
  div.form.first-content-form .form-footer {
    background-color: #58be89;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    width: 100%;
    text-align: left; }
    /* line 102, ../sass/all.scss */
    div.form.first-content-form .form-footer .back {
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      display: inline-block; }
      /* line 104, ../sass/all.scss */
      div.form.first-content-form .form-footer .back:hover {
        color: white;
        text-decoration: none; }

/* line 116, ../sass/all.scss */
div.form.second-content-form .form-header {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: #68c39f;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7ACAAB', endColorstr='#FF68C39F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7acaab), color-stop(100%, #68c39f));
  background-image: -webkit-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: -moz-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: -o-linear-gradient(#7acaab 0%, #68c39f 100%);
  background-image: linear-gradient(#7acaab 0%, #68c39f 100%);
  background-color: #6d9f58; }
  /* line 122, ../sass/all.scss */
  div.form.second-content-form .form-header .header-left {
    margin: 25px 75px 25px 13%;
    height: 152px;
    width: 152px;
    background-color: #ececec;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    text-align: center;
    display: inline-block;
    line-height: 150px;
    position: relative;
    float: left; }
    /* line 132, ../sass/all.scss */
    div.form.second-content-form .form-header .header-left a.header-link {
      text-decoration: none;
      font-size: 22px;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 600;
      border: 1px solid #68c39f;
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      -ms-border-radius: 300px;
      -o-border-radius: 300px;
      border-radius: 300px; }
      /* line 138, ../sass/all.scss */
      div.form.second-content-form .form-header .header-left a.header-link:hover {
        background-color: #68c39f;
        border: solid 1px #f6f6f6;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: inline-block;
        color: #f6f6f6; }
  /* line 147, ../sass/all.scss */
  div.form.second-content-form .form-header .header-right {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 55%;
    float: left; }
    /* line 153, ../sass/all.scss */
    div.form.second-content-form .form-header .header-right .page-title {
      display: inline-block;
      color: #f6f6f6;
      font-size: 2em;
      line-height: 1em;
      margin-top: 3em;
      text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5); }
  /* line 162, ../sass/all.scss */
  div.form.second-content-form .form-header .div-decoration {
    position: absolute;
    right: -220px;
    width: 500px;
    top: 60px;
    height: 5.7em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    line-height: 5.7em; }
    /* line 171, ../sass/all.scss */
    div.form.second-content-form .form-header .div-decoration span {
      color: #f6f6f6;
      margin-right: 75px;
      font-size: 23px; }
/* line 183, ../sass/all.scss */
div.form.second-content-form .form-footer .btn-blue {
  width: 20em;
  padding: 1em 9em; }
  /* line 186, ../sass/all.scss */
  div.form.second-content-form .form-footer .btn-blue:hover {
    color: #f6f6f6; }

/* line 193, ../sass/all.scss */
.blog-tools {
  margin-left: 2em;
  display: inline-block; }
  /* line 197, ../sass/all.scss */
  .blog-tools .fa {
    text-align: center;
    margin: 0 0.1em;
    font-size: 2.2em;
    color: #e9e9e9;
    height: 2em;
    width: 2em;
    line-height: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em; }
    /* line 205, ../sass/all.scss */
    .blog-tools .fa:hover {
      text-decoration: none;
      color: #3f3f3f; }
    /* line 209, ../sass/all.scss */
    .blog-tools .fa.fa-pencil-square-o {
      color: #ffbe00;
      border: 1px solid #ffbe00;
      line-height: 2.1em; }
      /* line 213, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o:hover {
        color: #cc9800;
        background-color: #ffbe00; }
      /* line 217, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o:active {
        color: #997200;
        background: #cc9800;
        border-color: #cc9800; }
      /* line 222, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o::before {
        margin-left: 6px; }
      /* line 223, ../sass/all.scss */
      .blog-tools .fa.fa-pencil-square-o.disabled {
        color: #b9b9b9;
        background: lightgrey;
        border-color: #b9b9b9; }
    /* line 229, ../sass/all.scss */
    .blog-tools .fa.fa-desktop {
      border: solid 1px #2eb2ff;
      color: #2eb2ff;
      line-height: 2.1em; }
      /* line 233, ../sass/all.scss */
      .blog-tools .fa.fa-desktop:hover {
        color: #008ee0;
        background-color: #2eb2ff; }
      /* line 237, ../sass/all.scss */
      .blog-tools .fa.fa-desktop:active {
        color: #006dad;
        background-color: #008ee0;
        border: solid 1px #008ee0; }
    /* line 243, ../sass/all.scss */
    .blog-tools .fa.fa-star {
      border: solid 1px #dcdc44;
      color: #dcdc44; }
      /* line 246, ../sass/all.scss */
      .blog-tools .fa.fa-star:hover {
        color: #c8c825;
        background-color: #dcdc44; }
      /* line 250, ../sass/all.scss */
      .blog-tools .fa.fa-star.checked {
        background-color: #dcdc44;
        color: #c8c825; }
    /* line 255, ../sass/all.scss */
    .blog-tools .fa.fa-trash-o {
      border: solid 1px #f06260;
      color: #f06260; }
      /* line 258, ../sass/all.scss */
      .blog-tools .fa.fa-trash-o:hover {
        color: #d61714;
        background-color: #f06260; }
      /* line 262, ../sass/all.scss */
      .blog-tools .fa.fa-trash-o:active {
        color: #a71210;
        background-color: #ec3431;
        border: solid 1px #ec3431; }

/* autocomplete style */
/* line 4, ../sass/tag/tags.scss */
.autocomplete {
  position: absolute;
  padding-top: 5px;
  z-index: 1000; }

/* line 9, ../sass/tag/tags.scss */
.autocomplete * {
  padding: 0;
  margin: 0; }

/* line 13, ../sass/tag/tags.scss */
.autocomplete ul:before {
  position: absolute;
  top: -5px;
  left: 10px;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #222; }

/* line 22, ../sass/tag/tags.scss */
.autocomplete ul {
  position: relative;
  padding: 4px;
  background: #222;
  color: #fff;
  min-width: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px; }

/* line 35, ../sass/tag/tags.scss */
.autocomplete li {
  list-style: none;
  text-align: left;
  padding: 4px 50px 4px 10px;
  cursor: pointer;
  margin-bottom: 1px;
  background: #333; }

/* line 43, ../sass/tag/tags.scss */
.autocomplete li:last-child {
  border-bottom: none;
  margin-bottom: 0; }

/* line 48, ../sass/tag/tags.scss */
.autocomplete li.selected,
.autocomplete li.over {
  background: red;
  color: #fff; }

/* tagbox styles */
/* line 55, ../sass/tag/tags.scss */
.tagbox {
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  border: 1px solid #ddd; }

/* line 61, ../sass/tag/tags.scss */
.tagbox * {
  margin: 0;
  padding: 0; }

/* line 65, ../sass/tag/tags.scss */
.tagbox.focus {
  outline: 0;
  border-color: #659ec9 #70aedd #a8cfec;
  -webkit-box-shadow: black 0px 0px 0px 0px;
  -moz-box-shadow: black 0px 0px 0px 0px;
  box-shadow: black 0px 0px 0px 0px; }

/* line 69, ../sass/tag/tags.scss */
.tagbox ul {
  overflow: hidden; }

/* line 72, ../sass/tag/tags.scss */
.tagbox li {
  position: relative;
  list-style: none;
  float: left;
  cursor: pointer;
  margin: 0px; }

/* line 79, ../sass/tag/tags.scss */
.tagbox li.new input {
  font-family: Arial, sans-serif;
  border: none;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  background: none; }

/* line 88, ../sass/tag/tags.scss */
.tagbox li.new input:focus {
  outline: none; }

/* line 91, ../sass/tag/tags.scss */
.tagbox li .tag {
  position: relative;
  display: block;
  background: #222;
  color: #fff;
  border-radius: 20px;
  height: 20px;
  line-height: 20px;
  font-size-adjust: 100%;
  font-size: 12px;
  padding: 0 30px 0 12px;
  vertical-align: middle; }

/* line 104, ../sass/tag/tags.scss */
.tagbox li .delete {
  position: absolute;
  font-family: Arial, sans-serif;
  right: 7px;
  top: 4px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
  color: #222;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////QkJCfEGH6wAAABRJREFUeNpiYGRgACEgBhMgBBBgAABkAAl7vFkJAAAAAElFTkSuQmCC) no-repeat center center;
  width: 12px;
  text-indent: -6000px;
  font-size: 11px;
  line-height: 12px;
  height: 12px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

/* line 124, ../sass/tag/tags.scss */
.tagbox .selected .tag {
  background: red; }

/* line 4, ../sass/tag/tags_custom.scss */
.tagbox {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  /* line 7, ../sass/tag/tags_custom.scss */
  .tagbox:focus {
    border-color: #659ec9 #70aedd #a8cfec;
    -webkit-box-shadow: black 0px 0px 0px 0px;
    -moz-box-shadow: black 0px 0px 0px 0px;
    box-shadow: black 0px 0px 0px 0px; }
  /* line 10, ../sass/tag/tags_custom.scss */
  .tagbox ul {
    margin: 0.5em 1em 0.2em 1em; }
  /* line 13, ../sass/tag/tags_custom.scss */
  .tagbox li {
    margin: 0 0.3em 0.3em 0; }
    /* line 16, ../sass/tag/tags_custom.scss */
    .tagbox li .tag {
      background-color: #23adc9; }
  /* line 21, ../sass/tag/tags_custom.scss */
  .tagbox .selected .tag {
    background-color: #f06260; }

/* line 29, ../sass/tag/tags_custom.scss */
.autocomplete ul {
  background-color: #1e94ac; }
  /* line 32, ../sass/tag/tags_custom.scss */
  .autocomplete ul li {
    color: #f6f6f6;
    background-color: #23adc9; }
    /* line 35, ../sass/tag/tags_custom.scss */
    .autocomplete ul li:hover {
      background-color: #33bfdb; }
    /* line 38, ../sass/tag/tags_custom.scss */
    .autocomplete ul li.over, .autocomplete ul li.selected {
      background-color: #33bfdb; }

/* line 4, ../sass/menu.scss */
body {
  line-height: 20px;
  z-index: 1; }

/* line 10, ../sass/menu.scss */
ul #menu {
  text-align: left; }
/* line 13, ../sass/menu.scss */
ul #right {
  float: right; }

/* line 19, ../sass/menu.scss */
div #singModal, div #loginModal {
  z-index: 2; }
/* line 22, ../sass/menu.scss */
div #navi {
  margin: -30px 0px 0px 0px; }

/* line 27, ../sass/menu.scss */
.container {
  min-height: 100%; }

/* line 31, ../sass/menu.scss */
div.modal-content {
  border: 0px; }
  /* line 33, ../sass/menu.scss */
  div.modal-content .modal-header {
    padding: 10px 20px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
  /* line 37, ../sass/menu.scss */
  div.modal-content .modal-body {
    padding: 20px 20px 0px 20px; }
    /* line 39, ../sass/menu.scss */
    div.modal-content .modal-body .checkbox {
      margin: -15px 0 0 11px; }
      /* line 41, ../sass/menu.scss */
      div.modal-content .modal-body .checkbox label {
        margin-right: 10px; }
  /* line 46, ../sass/menu.scss */
  div.modal-content .modal-footer {
    padding: 0 20px 15px 20px; }
    /* line 49, ../sass/menu.scss */
    div.modal-content .modal-footer a {
      text-align: right;
      font-size: 11px;
      margin: 5px 5px 0px 0px; }
      /* line 53, ../sass/menu.scss */
      div.modal-content .modal-footer a:hover {
        text-decoration: none; }
    /* line 57, ../sass/menu.scss */
    div.modal-content .modal-footer .submit {
      float: right; }
      /* line 59, ../sass/menu.scss */
      div.modal-content .modal-footer .submit .btn-black {
        padding: 0.6em 3em; }

/* line 69, ../sass/menu.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 77, ../sass/menu.scss */
.wrapper-dropdown-5 {
  /* Size & position */
  display: inline-block;
  position: relative;
  width: 145px;
  height: 55px;
  line-height: 55px;
  margin: 0 0 0 -4px;
  /* Styles */
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  /* line 90, ../sass/menu.scss */
  .wrapper-dropdown-5:focus {
    box-shadow: none;
    border-bottom: none;
    color: white; }
    /* line 94, ../sass/menu.scss */
    .wrapper-dropdown-5:focus:after {
      border-color: #82d1ff transparent; }
  /* line 98, ../sass/menu.scss */
  .wrapper-dropdown-5.user {
    width: 200px; }
    /* line 100, ../sass/menu.scss */
    .wrapper-dropdown-5.user:hover {
      color: #ffbe00; }
  /* line 105, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-create:hover p, .wrapper-dropdown-5.menu-create:hover i {
    color: #c8c825;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  /* line 108, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-view:hover p, .wrapper-dropdown-5.menu-view:hover i {
    color: #2eb2ff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  /* line 111, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-search:hover p, .wrapper-dropdown-5.menu-search:hover i {
    color: #f06260;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  /* line 113, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-sign, .wrapper-dropdown-5.menu-login {
    width: 120px; }
  /* line 117, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-sign:hover p, .wrapper-dropdown-5.menu-sign:hover i {
    color: #68c39f;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  /* line 120, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-login:hover p, .wrapper-dropdown-5.menu-login:hover i {
    color: #68c39f;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  /* line 123, ../sass/menu.scss */
  .wrapper-dropdown-5.menu-user:hover p {
    color: #68c39f;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  /* line 125, ../sass/menu.scss */
  .wrapper-dropdown-5 p {
    text-align: center;
    margin: 0; }

/* line 131, ../sass/menu.scss */
.wrapper-dropdown-5:focus .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/* line 137, ../sass/menu.scss */
.wrapper-dropdown-5:after {
  /* Little arrow */
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #4cbeff transparent; }

/* line 150, ../sass/menu.scss */
.wrapper-dropdown-5 .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  /* Hiding */
  max-height: 0;
  overflow: hidden; }
  /* line 168, ../sass/menu.scss */
  .wrapper-dropdown-5 .dropdown li {
    text-align: center;
    background-color: #f7f7f7; }
    /* line 171, ../sass/menu.scss */
    .wrapper-dropdown-5 .dropdown li a {
      display: block;
      text-decoration: none;
      font-size: 18px;
      color: #333;
      padding: 2px 0;
      transition: all 0.3s ease-out;
      border-bottom: 1px solid #e6e8ea; }

/* line 184, ../sass/menu.scss */
.wrapper-dropdown-5 .dropdown li:last-of-type a {
  border: none; }

/* line 188, ../sass/menu.scss */
.wrapper-dropdown-5 .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle; }

/* line 194, ../sass/menu.scss */
.wrapper-dropdown-5 .dropdown li:hover a {
  background-color: #68c39f;
  text-decoration: none;
  color: #fff; }

/* line 198, ../sass/menu.scss */
.wrapper-dropdown-5.active:after {
  border-color: #82d1ff transparent; }

/* line 202, ../sass/menu.scss */
.wrapper-dropdown-5.active .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px; }
