button.md-close {
	font-size: 14px;
	float: right;
	margin:10px 20px 0 0;
}


div.md-show{
	background: -webkit-linear-gradient(#d5defd, #7a9bcd);
	box-shadow: 0 0 6px 6px rgba(28,28,28,0.2);
}
div.user-add-up{
	border-radius: 20px;
	width: 600px;
	height: 330px;
}
div.user-add-in{
	border-radius: 20px;
	width: 600px;
	height: 235px;
}

p.title{
	margin: 0 0 0 0 !important;
	font-size: 16px;
	text-shadow: 3px 3px 3px #999999, -2px -2px 2px #999999;
}
