@charset "UTF-8";
/* line 1, ../sass/fonts.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato','ヒラギノ角ゴ Pro W3','Mplus'; }

/* line 5, ../sass/fonts.scss */
*.input_form {
  font-family: Default; }

@font-face {
  font-family: 'Poiret One';
  src: url("../../fonts/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-light.ttf"); }

@font-face {
  font-family: 'Osaka1';
  font-weight: lighter; }

@fonf-face {
  font-family: 'Mplus';
  src: url("../../fonts/mplus/mplus-1p-thin.ttf"); }

@font-face {}
/* line 5, ../sass/all.scss */
body {
  background-color: #E5E5DE;
  color: #3f3f3f; }

/* line 10, ../sass/all.scss */
#contents {
  margin-top: 40px; }

/* line 14, ../sass/all.scss */
.nav-brand > img {
  width: 78px;
  height: 39px; }

/* line 20, ../sass/all.scss */
a:hover {
  color: #58be89; }

/* line 27, ../sass/all.scss */
div.form.first-content-form {
  position: relative;
  width: 88%;
  margin: 5em auto 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 33, ../sass/all.scss */
  div.form.first-content-form label, div.form.first-content-form h1 {
    color: white; }
  /* line 36, ../sass/all.scss */
  div.form.first-content-form .form-headder {
    padding: 1em 0;
    background-color: #58be89;
    text-align: center; }
  /* line 42, ../sass/all.scss */
  div.form.first-content-form form, div.form.first-content-form .contents {
    display: block;
    background-color: #ccdfcc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    /* line 46, ../sass/all.scss */
    div.form.first-content-form form input, div.form.first-content-form form .tagbox, div.form.first-content-form .contents input, div.form.first-content-form .contents .tagbox {
      margin: 0 auto; }
  /* line 51, ../sass/all.scss */
  div.form.first-content-form .form-footer {
    background-color: #58be89;
    left: 0;
    bottom: 0;
    padding: 1em 0.5em;
    width: 100%;
    text-align: right; }

/* line 3, ../sass/menu.scss */
body {
  line-height: 20px;
  z-index: 1; }

/* line 8, ../sass/menu.scss */
p {
  margin: 0 10px 10px; }

/* line 10, ../sass/menu.scss */
a {
  color: #333333; }

/* line 16, ../sass/menu.scss */
ul #menu {
  text-align: left; }
/* line 19, ../sass/menu.scss */
ul #right {
  float: right; }

/* line 25, ../sass/menu.scss */
div #singModal, div #loginModal {
  z-index: 2; }
/* line 28, ../sass/menu.scss */
div #navi {
  margin: -30px 0px 0px 0px; }

/* line 33, ../sass/menu.scss */
.container {
  min-height: 100%; }

/* line 37, ../sass/menu.scss */
div.modal-content {
  border: 0px; }
  /* line 39, ../sass/menu.scss */
  div.modal-content .modal-header {
    padding: 10px 20px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
  /* line 43, ../sass/menu.scss */
  div.modal-content .modal-body {
    padding: 20px 20px 0px 20px; }
    /* line 45, ../sass/menu.scss */
    div.modal-content .modal-body .checkbox {
      margin: -15px 0 0 11px; }
      /* line 47, ../sass/menu.scss */
      div.modal-content .modal-body .checkbox label {
        margin-right: 10px; }
  /* line 52, ../sass/menu.scss */
  div.modal-content .modal-footer {
    padding: 0 20px 15px 20px; }
    /* line 55, ../sass/menu.scss */
    div.modal-content .modal-footer a {
      text-align: right;
      font-size: 11px;
      margin: 5px 5px 0px 0px; }
      /* line 59, ../sass/menu.scss */
      div.modal-content .modal-footer a:hover {
        text-decoration: none; }
    /* line 63, ../sass/menu.scss */
    div.modal-content .modal-footer .submit {
      float: right; }
      /* line 65, ../sass/menu.scss */
      div.modal-content .modal-footer .submit .btn-b {
        padding: 0.6em 3em; }

/* line 74, ../sass/menu.scss */
div.navbar ul.dropdown li {
  text-align: center; }

/* line 4, ../sass/templates.scss */
#template-index {
  text-align: center; }
  /* line 7, ../sass/templates.scss */
  #template-index .cont {
    display: inline-flex;
    width: 33%;
    padding: 1em 2em; }
    /* line 11, ../sass/templates.scss */
    #template-index .cont .title {
      font-size: 2em; }
  /* line 15, ../sass/templates.scss */
  #template-index .fa-trash-o {
    padding: 2px;
    border: solid 1px #646464; }

/* line 22, ../sass/templates.scss */
.box-flex .button-full {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  height: 8em; }
  /* line 25, ../sass/templates.scss */
  .box-flex .button-full .btn-b {
    padding: 3.2em 9.9em;
    border: none; }
    /* line 28, ../sass/templates.scss */
    .box-flex .button-full .btn-b.left {
      border-right: solid #c1c1c1 1px; }
    /* line 31, ../sass/templates.scss */
    .box-flex .button-full .btn-b.right {
      border-left: solid #c1c1c1 1px; }

/* line 38, ../sass/templates.scss */
ul {
  display: none; }

/* line 42, ../sass/templates.scss */
span {
  cursor: pointer; }

/* line 46, ../sass/templates.scss */
li {
  cursor: pointer;
  list-style-type: none;
  text-indent: 1em; }
