li.logo {
	width: 250px;
	height: 250px;
	background-color: rgba(235,235,236, 0.60);
	margin: 10px 0px 0px 30px; /*　上　右　下　左 */
	border-radius: 20px;
	text-align: center;
	font-size: 30px;
	color: rgba(235,235,236, 0.60);
	text-shadow: 2px 2px 2px #999999, -1px -1px 1px #999999;
}
div#toppage {
	
}
div#toppage_link{
	background-color: rgba(235,235,236, 0.70);
	width: 80%;
	border-radius: 20px;
	text-align: center;
	margin: 50px 0px 0px 50px;
	float: left;
	font-size: 30px;
	color: rgba(0,0,0, 0.70);
	text-shadow: 3px 3px 3px #999999, -2px -2px 2px #999999;
}
img.logo{
	width: 230px;
	height: 230px;
	border-radius: 20px;
	margin: 10px 0px 10px 30px;
	float: left;
}

a.logo{
	
}
