div.user_add{
	background-color: rgba(235,235,236, 0.70);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 47%;
	height: 70%;
	margin: 50px 0px 0px 10px; /*　上　右　下　左 */
	border-radius: 20px;
	font-size: 5px;
	color: rgba(0,0,0, 0.70);
	text-shadow: 3px 3px 3px #999999, -2px -2px 2px #999999;
}
div.add_form{
	margin: 10px 0px 30px 0px;
	padding: 10px 10% 0px 10%;
}
div.add_button{
	margin: 0px 30px 90px 0px;
	padding: 10px 0px 0px 0px;
}
div.error-message{
	margin-left: 10px;
	color: red;
	font-size: 20px

}
input.input_form{
	margin: 10px 0px 0px 10px;
}
label{
	font-size: 18px;
	color: rgba(0,0,0, 0.80);
	text-shadow: 3px 3px 3px #999999, -2px -2px 2px #999999;
	font-weight: bold;
}

/*モーダルアカウント登録   */
.md-effect-18 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-18 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
*.btn-custom{
	margin: 10px 30px 20px 0px;
	height: 50px;
	width: 161px;
	float: right;
	display: inline-block;
	font-size: 15px;
	color: white;
	text-shadow: none;
	letter-spacing: 0;
	border: none;
	box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 6px;
	text-decoration: none;
	padding: 15px 40px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #021ecd), color-stop(0.00, #2c7bff));
	background: -webkit-linear-gradient(#2c7bff, #021ecd);
	background: -moz-linear-gradient(#2c7bff, #021ecd);
	background: -o-linear-gradient(#2c7bff, #021ecd);
	background: -ms-linear-gradient(#2c7bff, #021ecd);
}

*.input_form{
	width: 70%;
	height: 90%;
	margin: 0px 0px 0px 50%;
	font-size: 20px;
	/*border-radius: 5px;*/
}
*.input_form:focus {
	outline: 2px solid #80D54B;
	box-shadow: 0px 0px 2px 2px rgba(128,213,75,0.5);
	border: 3px solid;
	border-color: rgba(128,213,75,0.2);
}

*.btn-custom:hover {
	color: #00C400;
	background-position: 0;
	border: 2px solid #80D54B;
	opacity: 0.9;
	filter: alpha(opacity=60);
	box-shadow: 0px 0px 4px 4px rgba(128,213,75,0.5);
}

