ul#dropdownmenu {
	*zoom: 1; /*forIE6,7*/
	list-style:none;
	float:left;
	padding: 0px;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	li{
		width: 115px;
		float: left;
		*zoom: 1; /*forIE6,7*/
		white-space: nowrap;
		list-style:none;
		
		ul{
			visibility: hidden;
			position: absolute;
			padding: 0px;
		}
		> a{
			display: block;
			padding: 10px;
			text-align: center;
			text-decoration: none;
		}
	}
}
ul#dropdownmenu li:hover > ul {
	visibility: visible;
}
ul#dropdownmenu li ul li {
	width: auto !important;
	/*width: 130px;*/
	min-width: 115px;
	clear: left;
	position: relative;
}
ul#dropdownmenu li ul li ul {
	top: 0;
	left: 100%;
}
* html ul#dropdownmenu li a { /*forIE6*/
	zoom: 1;
}
ul#dropdownmenu li ul li a {
	text-align: left;
}
