@import "my-mixin.scss";
@mixin d-span{
  width: 70%;
  height: 40px;
  font-size:19px;
  font-weight: 200;
  line-height: 20px;
  padding: 10px 10px;
  
}


.fleft {
  min-width: 0px;
  margin: -19px 0px -20px 0px;
}


.cd-dropdown {
  span {
    @include d-span;
    // margin: -10px 0px 0px 0px;
    &:hover{
      @include btn-hover;
    }
    &:actice{
      color:#fff;
    }
    &:after{
      border-left: none;
      padding: 3px;
    }
  }
  
  ul{
    li{
      span{
        @include d-span;
        color: $col-black5;
      }
    }
  }
}

.cd-active.cd-dropdown > span {
  color: $col-black5;
}

.cd-active.cd-dropdown ul li span:hover {
  @include btn-hover;
}

.cd-active.cd-dropdown > span:hover {
  @include btn-hover;
}

