    //　ーー宣言ーー
@import "compass";
@import "constants";

@mixin btn-fade {
  @include transition(0.2s);
  display: inline-block;
}

@mixin btn-size-m{
  font-size: 19px;
  padding: 10px 24px;
}
@mixin btn-size-s{
  font-size: 14px;
  padding: 6px 20px;
}
@mixin btn-size-ss{
  font-size:14px;
  padding: 3px 12px;
}
@mixin btn-hover{
  background-color: $col-flat-green2;
  text-decoration: none;
  color:#fff;
}


.btn-a{
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 2em;
  border: none;
  @include btn-fade;
  &:hover{
    @include btn-hover;
  }
}
.btn-black{
  background-color: #ECECEC;
  text-decoration: none;
  color: $col-black;
  padding: 0.5em 2em;
  border:solid 1px $col-black2;
  @include btn-fade;
  &:hover{
    text-decoration: none;
    background-color: $col-black4;
    color: white;
    border: solid 1px $col-black4;
  }
}
.btn-green{
  background: $col-flat-green2;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  @include btn-fade;
  &:hover{
    text-decoration: none;
    background-color: $col-flat-green3;
  }
}
.btn-blue{
  background: $col-flat-blue1;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  @include btn-fade;
  &:hover{
    text-decoration: none;
    background-color: lighten($col-flat-blue1,8%);
  }
  &:active{
    @include transition(0);
    background-color: darken($col-flat-blue1,8%);
  }
}
.btn-danger{
  background: $col-danger;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  @include btn-fade;
  &:hover{
    text-decoration: none;
    background-color: $col-danger-hover;
  }
}
.btn-orange{
  background: $orange;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5em 2em;
  @include btn-fade;
  &:hover{
    color: $white;
    text-decoration: none;
    background-color: lighten($orange, 10%);
  }
}

.round{
  height: 120px;
  width: 120px;
  line-height: 120px;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  @include border-radius(260px);
}

