$col-flat-green1:#CCDFCC;$col-flat-green2:#58BE89;
$col-danger:#F06260;
$col-green:#4ab134;
$col-green1:#f6fdf1;$col-green2:#d0f4b6;$col-green3:#bef098;$col-green4:#a1e96b;$col-green5:#85e33f;$col-green6:#72df21;$col-green7:#6ad11e;$col-green8:#5bb31a;$col-green9:#36690f;
$col-limegreen:#38CB7D;
$col-red:#b94a48;
$col-black5: #313131;$col-black4: #4a4a4a;$col-black3:#646464;$col-black2:#c1c1c1;$col-black1:#ececec;
$col-selection: #bef098;
$col-navbar:rgba(255,255,255, 1);

    //　ーー宣言ーー
@import "compass";
