    //　ーー宣言ーー
@import "compass";
@import "constants";

@mixin btn-fade {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  // border-radius: 2px;
}

@mixin btn{
  background-color: #313131;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
}

@mixin btn-size3{
  font-size: 19px;
  padding: 10px 24px;
}

@mixin btn-hover{
  background-color: $col-green;
  text-decoration: none;
  color:#fff;
}

@mixin mp-clear{
  margin: 0;
  padding: 0;
}

@mixin back-z{
  background: #cecece url("../img/background-2.png");
}
@mixin back-x{
  background-image: url("../img/backgroudImage.png");
}
@mixin back-y{
  background-image: url("../img/background-grays.jpg");
  background-size: 20%;
}

