@import "../sass/my-mixin.scss";
@import "fonts.scss";
@import "buttons.scss";

hr{
  @include line-bottom;
  border-top: none;
}

.link{
  @include link;
}

body{
  background-color: #E5E5DE;
  color:#3f3f3f;
}

#contents {
  margin-top: 55px;
}
#footer{
  clear: both;
  text-align: center;
}
.nav-brand > img {
  margin: 2px 0;
  width: 100px;
  height:51px;
}

div.page-title{
  h1{
    color:$green;
  }
}
a:hover {
  color: $green;
  @include btn-fade;
}
// .left{float:left;}
// .right{float:right;}


// ネタバレスライダー
.spoiler{
  @include border-radius(2px);
  .spoiler-slider{
    display: inline-block;
    // width: 35%;
    padding: 0.5em;
    background-color: #93B8CA;
    color: white;
    span, .list, #slider{
      float: left;
    }
    .list{
      @include appearance(initial);
      padding-left: 0.4em;
      border: none;
    }
    #slider{
      display: inline-block;
      width:220px;
      margin: 3px 0 0 15px;
    }
  }
}

// フォーム形式のUI
div.form.first-content-form{
  position: relative;
  width: 88%;
  margin: 5em auto 0;
  @include border-radius(2px);

  label , h1{
    color: white;
  }
  .form-headder{
    padding: 1em 0 ;
    background-color: $col-flat-green2;
    text-align: center;
  }

  form, .contents{
    display: block;
    background-color: $col-flat-green1;
    padding: 1em 2em; 
    input, .tagbox{
      margin: 0 auto;
    }
  }

  .form-footer{
    background-color: $col-flat-green2;
    left:0;
    bottom:0;
    padding:0.5em;
    width: 100%;
    text-align: left;
    .back{
      @include btn-fade;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
}



// 全画面形式のUI
div.form.second-content-form{
  .form-header{
    position: relative;
    height: 200px;
    overflow: hidden;
    @include gradient-top-lighten($green);
    background-color: #6d9f58;
    .header-left{
      margin: 25px 75px 25px 13%;
      height: 152px;width: 152px;
      background-color: $col-black1;
      @include border-radius(300px);
      text-align: center;
      display: inline-block;
      line-height: 150px;
      position: relative;
      float:left;
      a.header-link{
        text-decoration: none;
        font-size:22px;
        @include link;
        border:1px solid $green;
        @include border-radius(300px);
        &:hover{
          background-color: $green;
          // @include box-shadow(0 1px 0 white) ;
          border:solid 1px $white;
          @include btn-fade;
          color: $white;
        }
      }
    }
    .header-right{
      display: inline-block;
      position: relative;
      height: 100%;
      width: 55%;
      float: left;
      .page-title{
        display: inline-block;
        color: $white;
        font-size:2em;
        line-height: 1em;
        margin-top:3em;
        @include text-shadow(1px -1px 0 rgba(0,0,0,0.5));
      }
    }
    .div-decoration{
      position: absolute;
      right: -220px;
      width: 500px;
      top:60px;
      height: 5.7em;
      @include rotate(45deg);
      text-align: center;
      line-height: 5.7em;
      span{
        color: $white;
        margin-right: 75px;
        font-size:  23px;
      }
    }
  }
  .form-body{
  }
  .form-footer{
    .div-created{
    }
    .btn-blue{
      width: 20em;
      padding: 1em 9em;
      &:hover{
        color:$white;
      }
    }
  }
}

.blog-tools{
  margin-left: 2em;
  display: inline-block;
  // float: left;
  .fa{
    text-align: center;
    margin: 0 0.1em;
    font-size: 2.2em;
    color:darken($white,5%);
    height: 2em;width: 2em;
    line-height: 2em;
    @include border-radius(2em);
    &:hover{
      text-decoration: none;
      color: $black;
    }
    &.fa-pencil-square-o{
      color:$orange;
      border:1px solid $orange;
      line-height: 2.1em;
      &:hover{
        color:darken($orange, 10%);
        background-color: $orange;
      }
      &:active{
        color:darken($orange, 20%);
        background: darken($orange, 10%);
        border-color: darken($orange, 10%);
      }
      &::before{margin-left:6px;}
    }
    &.fa-desktop{
      border:solid 1px $blue;
      color:$blue;
      line-height: 2.1em;
      &:hover{
        color:darken($blue, 15%);
        background-color: $blue;
      }
      &:active{
        color: darken($blue,25%);
        background-color: darken($blue, 15%);
        border:solid 1px darken($blue, 15%);
      }
    }
    &.fa-star{
      border:solid 1px darken($yellow,10%);
      color:darken($yellow, 10%);
      &:hover{
        color:darken($yellow, 20%);
        background-color: darken($yellow,10%);
      }
      &.checked{
        background-color: darken($yellow,10%);
        color: darken($yellow, 20%);
      }
    }
    &.fa-trash-o{
      border:solid 1px $col-danger;
      color:$col-danger;
      &:hover{
        color:darken($col-danger, 20%);
        background-color: $col-danger;
      }
      &:active{
        color: darken($col-danger, 30%);
        background-color: darken($col-danger, 10%);
        border:solid 1px darken($col-danger, 10%);
      }
    }
  }
}




