@import "compass";

$col-green:#4ab134;
$col-limegreen:#38CB7D;

@mixin btn-fade {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  border-radius: 2px;
}

@mixin btn-hover{
  background-color: $col-green;
  text-decoration: none;
  color:#fff;
}



a:hover {
  color: #4ab134;

}


div.home_logo{
  background-image: url('../img/Bridge_cool.png');
  background-size:contain;
  position: static;
  width: 120px;
  height: 86px;
  background-repeat: no-repeat;
  
}
.home_logo{
  margin-top: -30px;
  margin-right: -30px;
}