@import "compass/css3";
@import "compass";
@import "../sass/my-mixin.scss";
@import "fonts.scss";



#contents {
  margin-top: 40px;
}

.nav-brand > img {
  width: 78px;
  height: 39px;
}


a:hover {
  color: $col-green;

}

.btn-a{
  @include btn-fade;
  @include btn;
  .btn-right{
    float: right;
  }
  
  &:hover{
    @include btn-hover;
  }
}

div{
  #head-all{
    height:40px;
  }
  #foot-all{
  }
}






