@import "compass/css3";
@import "compass/utilities";
@import "_constants.scss";


/* Actual content */
.container-item{
	position: relative;
	margin: 0 10px 10px 10px;
	float:left;
	// height: 100%;
	&:hover{
		opacity:1;
	}
}

.item{
	width:100%;
	height:100%;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	position: relative;
	top:0;
	left:0;
	z-index:5;
	overflow: hidden;
	@include border-radius(1px);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    img{
		position: relative;
		// height: 220px;
		// width: 220px;
		// z-index: 5;
	}
}

.item-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	// @include background();
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.42) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.42))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */
	@include single-transition(background-color, 0.3s, ease-in-out);
	i{
		// margin: 2px 0 0 4px;
		margin: auto auto;
		font-size: 26px;
		color: #eaeaea;
	}
}
.item:hover{
	.item-overlay{
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.42) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.42))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */
		background-color: rgba(0,0,0,0.4);
	}
	.item-content{
		@include transform(translate(0,0));
		@include single-transition(all, 0.3s, ease-in-out);
	}
	.item-add-content{
		opacity:1
	}
	.item-button.share{
		opacity:1;
	}
}

.item-content{
	position: absolute;
	width:100%;
	bottom: 0;
	@include transform(translate(0,100%));
	@include single-transition(all, 0.3s, ease-in-out);
	
}


.item-top-content{
	position: relative;

	.item-top-content-inner{
	position: absolute;
	bottom: 0;
	padding:5px 10px;
	background: rgba(255,255,255,.85);
	width:100%;
}
}

.item-add-content{
	padding:0 15px 15px 15px;
	opacity:0;
@include single-transition(all, 0.3s, ease-in-out);
}
.item-add-content-inner{
	border:0px solid #dadada;
	border-top-width:1px;
	padding-top:10px;
}



/* Buttons */
.item-button{
	border-radius:3px;
	width:30px;
	height:30px;
}


.item-button.share{
	background-color:#4f4f4f;
	position: absolute;
	margin:15px;
	opacity:0;
}
.item-button.share:hover{
	background-color:#333333;
	}
.btn.buy{
	background-color: #40c781;
	text-align:center;
	line-height:42px;
	font-weight:700;
	color:#fff;
	border-radius:3px;
	text-decoration:none;
	opacity:1;
	border:0px solid #35a76e;
	border-bottom-width:2px;
@include single-transition(all, 0.2s, ease-in-out);
}
.btn.buy:hover{
	background-color:#34a46c;
}
.expand{
	display:block;
}

/* Tags */
.sale-tag{
	width: 50px;
	height: 100px;
	background: #40c781;
	position: absolute;
	top:-45px;
	right:-10px;

	@include transform(rotate(-45deg));
    span, i {
    	position:absolute;
		top:51px;
		left:10px;
		@include transform(rotate(45deg));
		font-size:11px;
		color:#fff;
    }
}




/*product price*/

.item-content{
	background: rgba(255,255,255,.85);
}
.item-add-content{
	color:#7d7d7d;
}
.item-add-content .section{
	margin-bottom:10px;
}
.item-add-content .section:last-of-type{
	margin-bottom:0;
}


/* Item menu */
.item-menu{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background:#4f4f4f;
	@include border-radius(1px);
	@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
	@include transform(translate(0,0));
	@include single-transition(all, 0.3s, ease-in-out);
}
.item-menu.visible{
	@include transform(translate(-40px,0));
	@include single-transition(all, 0.3s, ease-in-out);
}
.item-menu:hover{
	@include transform(translate(-40px,0));
	@include single-transition(all, 0.3s, ease-in-out);
}
/*List*/
.popout-menu ul{
	list-style-type:none;
	li{
		-webkit-box-shadow: inset 0px 1px rgba(255,255,255,0.1);
        box-shadow: inset 0px 1px rgba(255,255,255,0.1);
		border-bottom:1px solid #434343;
		&:hover{background:#434343;}
		&:first-of-type{@include border-radius(1px);}
		&:last-of-type{border-bottom-width:0px;}
		a{
			color:#eaeaea;
			font-weight:600;
			font-size:0.8em;
			text-decoration:none;
			line-height: 36px;
			padding:0 15px;
			display:block;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.2);	
		}
	}
}
	
