@import "compass/css3";
@import "compass/utilities";
@import "_constants.scss";


/* Actual content */

.container-item{
	position: relative;
	margin: 0 10px 10px 0px;
	float:left;
	&:hover{
		opacity:1;
	}
	.item{
		width:100%;
		height:100%;
		min-height: 140px;
		position: relative;
		top:0;
		left:0;
		z-index:1000;
		overflow: hidden;
		background-color: gray;
		@include border-radius(1px);
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
		        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	    img{
			position: relative;
		}
		.item-button{
			position: absolute;
			margin: 8px;
			top: 0px;
			left: 0px;
			background-color:#4f4f4f;
			opacity:0;
			z-index: 560;
			&:hover{
				background-color:#333333;

			}
			i{
				margin: 4px;
				font-size: 26px;
				color: #eaeaea;
			}
		}
	}
}

.item:hover{
	.item-content{
		@include transform(translate(0,0));
		@include single-transition(all, 0.3s, ease-in-out);
	}
	.item-button{
		opacity:1;
	}
}

// .item-button:hover .slide-menu{}

.product-tag{
	width: 50px;
	height: 100px;
	background: #40c781;
	position: absolute;
	top:-45px;
	right:-10px;
	@include transform(rotate(-45deg));
    span, i {
    	position:absolute;
		top:51px;
		left:10px;
		@include transform(rotate(45deg));
		font-size:14px;
		color:#fff;
    }
}
.item-content{
	position: absolute;
	width:100%;
	background: rgba(255,255,255,.85);
	bottom: 0;
	@include transform(translate(0,100%));
	@include single-transition(all, 0.3s, ease-in-out);
	.item-top-content{
		position: relative;
		.item-top-content-inner{
			position: absolute;
			bottom: 0;
			padding:2px 3px;
			background: rgba(108, 122, 137, 0.5);
			color:white;
			width:100%;
		}
	}
}


/* Item menu */
div.slide-menu{
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	background:$col-green9;
	@include border-radius(1px);
	@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
	@include transform(translate(0,0));
	@include single-transition(all, 0.3s, ease-in-out);
	&.visible{
		@include transform(translate(-40px,0));
		@include single-transition(all, 0.3s, ease-in-out);
		z-index: 999;
	}
	&:hover{
		@include transform(translate(-40px,0));
		@include single-transition(all, 0.3s, ease-in-out);
	}
	ul{
		list-style-type:none;
		li{
			@include box-shadow(inset, 0px, 1px, rgba(255,255,255,0.1));
			border-bottom:1px solid #434343;
			&:hover{background:$col-green8;}
			&:first-of-type{@include border-radius(1px);}
			&:last-of-type{border-bottom-width:0px;}
			a{
				color:#eaeaea;
				font-size:1.3em;
				text-decoration:none;
				line-height: 30px;
				padding:0 8px;
				display:block;
			}
		}
	}
}