@import "../sass/menu.scss";

div#diary{
  margin:20px;
}

a.link:hover img.diary-pic{
  opacity: 0.8;
}
div#diary-index{
  margin: 0 auto;
  img {
    width: 220px;
    height: auto;
  }
  .container-item{
    background-color:white;
  }
  a.link{
    @include link;
    z-index: 550;
  }
  .cont{
    background-color: #BEBEBE;
    display: inline;
    overflow: hidden;
    margin: 10px;
    margin-top: 0px;
    
    a.btn-a.btn-size-ss{
      @include btn-size-ss;
      margin: 0.5em 1em;
    }
    a.right{
        float:right;
        margin: 0.5em 1em;
    }
  }
}
#div-create-blogs{
  
  .contents{
    .blog-form{
      width: 95%;
      margin: 0 auto;
      #blog-tags{
        margin: 1em;
        background-color: $col-black1;
        @include border-radius(15px);
        input{
          margin:1em;
        }
      }
    }
  }
}

.ui-widget-header{
  // background:$col-flat-blue1;
}
form#BlogAddForm, form#BlogEditForm{
  margin: 0 auto;
  padding-bottom: 1em;
  height: 40%;
  text-align: center;
  input{
    width: 95%;
    margin: 1em auto;
    // width: 2000px !important;
  }
  .spoiler{
    text-align: right;
    width: 95%;
    margin: 0 auto;
    .right{
      display: inline-block;
      width: 35%;
      padding: 0.5em;
      margin-bottom: 1em;
      background-color: #93B8CA;
      color: white;
      span, .list, #slider{
        float: left;
      }
      .list{
        @include appearance(initial);
        padding-left: 0.4em;
        border: none;
      }
      #slider{
        display: inline-block;
        width:220px;
        margin: 3px 0 0 15px;
      }
    }
  }
  
  
  .tagbox{
    margin: 0 auto 1em;
    width: 95%;
    ul{
      li{
        &.new input{
          margin: 0;
        }
      }
    }
  }
  #ckeditor{
    label{
      font-size:90px;
    }
  }
  #cke_ckeditor{
    margin: 0 auto;
  }
}

div{
  .container {
    @include mp-clear;
    min-width: 860px;
    min-height: 100%;
    width: 100%;
    height: auto !important;
    height: 100%;
  }
  .main {
    position: relative;
    float: left;
    margin-left: 210px;
    min-width: 600px;
    width: 100%;
    height: 100%;
  }
  .line-up {
    @include mp-clear;
    margin-top: 50px;
  }
  .form-group{
    margin: 10px 0 30px 40px;
  }
}
.side-menu {
    position:absolute;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #509B49;
    background-color: rgb(76, 146, 31);
    color: #DDDDDD;
    
    .menu{
       margin-top: 20px;
       .icon{
         margin: 0;
         padding: 0;
         width: 20px;
         height: 20px;
         text-align: center;
       }
       .name{
         margin-left: 10px;
       }
    }
    
    li {
      background-color: #60AB59;
      background-color: rgb(96, 166, 51);
      list-style-type: none;
      &:hover{
        background-color: #474B4E;
        background-color: rgb(126, 196, 81);
      }
      &:active{
        background-color: #80CB79;
        background-color: rgb(116, 186, 71);
        color: #333;
        /*
        border-top: solid 1px #111;
        border-bottom: solid 1px #111;
        */ 
        a{
          color: #fff;
        }
      }
      a{
        @include mp-clear;
        display: block;
        margin: 1px 0;
        padding: 10px 5px;
        width: 100%;
        height: 100%;
        color: #DDDDDD;
        text-decoration: none;
      }
    }
    
    ul, li{
      @include mp-clear;
    }
    
    
}

.side-profile {
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #60AB59;
  background-color: rgb(96, 166, 51);
  text-align: center;
}
textarea.blog{
  width: 80%;
  height: 400px;
  &:hover{
    border: 3px solid #97F95A;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
}

//hover




  
