body,h1 {
  font-family: 'Lato','Mori','Mplus';
}

*.input_form{
  font-family: Default;
}

@font-face{
  font-family: 'Poiret One';
  src: url('../fonts/PoiretOne-Regular.ttf');
}

@font-face{
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-light.ttf');
}
@fonf-face{
  font-family: 'Mplus';
  src: url('../fonts/mplus/mplus-1p-thin.ttf');
}
@fonf-face{
  font-family: 'Mori';
  src: url('../fonts/A-OTF-Jun101Pro-Light.otf');
}
