@import "../sass/all.scss";
@import "tag/tags_custom.scss";

body{
  line-height: 20px;
  z-index:1;
}

p{margin:0.3em 0.6em;}

a{
  color: #333333;
}


ul{
  #menu{
    text-align: left;
  }
  #right{
    float:right;
  }
}

div{
  #singModal, #loginModal{
    z-index:2;
  }
  #navi{
    margin: -30px 0px 0px 0px;
  }
}

.container {
    min-height: 100%;
}

div.modal-content{
  border: 0px;
  .modal-header{
    padding: 10px 20px;
    @include border-radius(5px 5px 0 0);
  }
  .modal-body{
    padding: 20px 20px 0px 20px;
    .checkbox{
      margin: -15px 0 0 11px;
      label{
        margin-right:10px;
      }
    }
  }
  .modal-footer{
    padding: 0 20px 15px 20px;
    
    a{
      text-align: right;
      font-size:11px;
      margin: 5px 5px 0px 0px;
      &:hover{
        text-decoration: none;
      }
    }
    .submit{
      float:right;
      .btn-black{
        padding: 0.6em 3em;
      }
    }
  }
}

div.navbar{
  ul.dropdown{
    li{
      text-align: center;
    }
  }
}






