@import "../sass/menu.scss";
@import "tag/tags_custom.scss";

div.second-content-form{
  .form-header{
    .header-right{
      .user-name{
        margin-left: 55px;
      }
    }
    .div-decoration{
      background-color: $blue;
    }
  }
  .form-body{
    background-color: $green;
    .div-create{
      display: block;
      text-align: center;
      .create-button{
        display: inline-block;
        text-decoration: none;
        height: 150px;width: 150px;
        @include border-radius(150px);
        text-align: center;
        line-height: 150px;
        color: $white;
        &.blog{
          background-color: $yellow;
          color: $black;
          &:hover{
            background-color: lighten($yellow,10%);
          }
        }
        &.template{
          background-color: $col-black2;
          &:hover{
            background-color: lighten($col-black2, 10%);
          }
        }
        &.product{
          background-color: $blue;
          &:hover{
            background-color:lighten($blue, 10%);
          }
        }
      }
    }
  }
}

html, body{
  height: 100%;
}
div.third-content-form{
  .form-header{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6d8182;
    .header-back{
      position: absolute;
      @include filter( brightness(50%));
      background-size:cover !important;
      z-index: 50;
      width: 100%;
      height: 100%;
      min-height: 100%;
    }
    .header-user{
      text-align: center;
      display: block;
      position: relative;
      color: $white;
      z-index: 100;
      span{
        color: $white;
        display: block;
        padding: 1.5em 0 1.7em;
        font-size: 4em;
      }
    }
    .header-buttons{
      .user-links{
        position: relative;
        z-index: 100;
        .links-div{
          @include links-color($green);
          position: relative;
          margin: 1em;
          width: 30%;
          .div-link{
            @include link;
          }
          padding: 1em;
          display: inline-block;
          border-radius: 30px;
          .div-left{
            display: inline-block;
            i{ font-size: 10em; }
          }
          .div-right{display: inline-block;}
        }
        .div-edit{@include links-color($purple);&:hover{background-color:$purple;color:$white;}}
        .div-fav{@include links-color($yellow);}
        .div-watched{@include links-color($orange);}
        .div-want{@include links-color(lighten($dark-blue, 20%));}
        .div-image{@include links-color($blue);}
      }
    }
  }
  .div-empty{
    position: relative;
    display: block;
    // height: 100%;
    .empty-empty{
      display: block;
      height: 100%;
      width: 100%;
      p{
        height: 100%;
        display: block;
        z-index: 1000;
      }
    }
  }
  .form-body{
    position: relative;
    .user-edit{
      margin:1em auto 0;
      width: 30em;
      input,textarea,button{
        display: block;
      }
      form{
        #image {
          width: 100%;
          height: auto;
          color: $white;
          background: black;
          margin-bottom: 1em;
          img{
            padding: 1em;
            width: 100%;
          }
        }
        margin: 0 auto;
        .user-info{
          padding:0.2em 0.4em;
          margin: 0 0 0.8em;
          border:1px solid lighten($black,50%);
          width:100%;
          @include border-radius(2px);
          display: block;
        }
        .btn-submit{
          width: 100%;
          padding: 1em 2em;
        }
      }
    }
  }
}
a.div-link:hover .links-div{
  background-color: $green;

}



