@import "all.scss";
@import "searches-effects.scss";
@import "compass/reset";

body{
  @include back-x;
  h1{
    margin: 10px;
    background-color: white;
  }
}
.form-control{
  width: 40%;
  margin:0px 10px 0px 10px;
  display: inline;
  float: left;
}
input.btn-a.btn-search{
  padding: 6px 17px;
  margin: 1px;
}

div#search-result{
  margin: 0 auto;
  .cont{
    position: relative;
    background-color: $col-black2;
    @include btn-fade;
    hr{
      margin: 10px 2px;
    }
    a.link{
      @include link;
      z-index:600;
    }
    .cont-info{
      position: absolute;
      bottom:0;
      width: 100%;
      background: rgba(108, 122, 137, 0.5);
      color:white;
      @include transform(translate(0,0));
      @include single-transition(all, 0.3s, ease-in-out);
      p{
        font-size: 13px;
      }
    }
  }
}
.cont:hover{
  img{
    opacity: 0.8;
  }
  .cont-info{
    @include transform(translate(0,100px));
    @include single-transition(all, 0.3s, ease-in-out);
    background-color: #000;
  }
}
