@import "all.scss";
@import "searches-effects.scss";
@import "compass/reset";

body{
  @include back-x;
  h1{
    margin: 10px;
    background-color: white;
  }
}
.form-control{
  width: 40%;
  margin:0px 10px 0px 10px;
  display: inline;
  float: left;

}
input.btn-a.btn-search{
  padding: 6px 17px;
  margin: 1px;
}

div#result{
  .cont{
    
    margin: 1%;
    position: relative;
    float: left;
    background-color: $col-black2;
    @include btn-fade;
    hr{
      margin: 10px 2px;
    }
    a{
      display: block;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
      position: absolute;
      &:hover{
        filter:alpha(opacity=50);
        opacity:0.5;
      }
    }
    img{
      margin: 10px;
    }
  }
}
  // #result{
    // @include btn-fade;
    // @include box-shadow;
    // // background-color: $col-black1;
// 
    // &:hover{
      // @include btn-hover;
      // a{
        // color:white;
      // }
    // }
  // }




