@import "../sass/menu.scss";

//add edit
#div-index-templates, #div-edit-templates,#div-add-templates{
  .form-header{
    .header-right{
      input{
        position: absolute;
        margin: 0;
        padding: 0.2em 0.8em;
        height: 2em;
        width: 100%;
        float: left;
        top:80px;left:0;
        border:none;
        font-size: 1.6em;
        @include box-shadow(0 0 1px $black);
        @include border-radius(2em);
        @include placeholder-color;
        color: $white;
        background-color: darken($green, 2%);
        @include text-shadow(none);
      }
    }
    .div-decoration{
      background-color: $col-black2;
    }
  }
  .form-body{
    margin: 2em 4em;
    padding: 1em;
    @include line-box;
    .div-button{
      margin-bottom: 1em;
      .btn-add-attribute{width:15em;}
      .del{margin-left: 2em;}
    }
    #add-attributes{
      margin: 0 auto;
      padding: 0 0 2em  0;
      overflow: scroll;
      overflow: hiddern;
      height: 17em;
      .attr {
        float:left;
        margin: 1em 2.3em 1em 0;
        .form-control{
          width: 190px;
          border-right: none;
          float:left;
          &.default{
            border: solid #ccc 1px;
            width: 223px;
          }
        }
        .btn-delete-attribute {
          font-size: 26px;
          // position: absolute;
          float: left;
          width: 34px;
          height: 34px;
          border:solid #cccccc 1px;
          border-left: none;
          background-color: $col-danger;
          color: white;
          @include btn-fade;
          &:hover{
            background-color: $col-danger-hover;
          }
        }
      }
    }
  }
  .form-footer{
    .div-submit{
      margin: 0 4em;
      text-align: right;
    }
  }
}



// index
#template-index{
  .cont{
    display: block;
    overflow: hidden;
    float:left;
    width: 33%;
    padding: 1em 2em;
    position: relative;
    .delete{
      position: absolute;
      top: 0;
      right: 0;
    }
    .title{
      font-size: 2em;
    }
    ul {
      overflow: hidden;
      display: none;
    }
    span {
      cursor: pointer;
    }

    li {
      cursor: pointer;
      list-style-type: none;
      text-indent: 1em;
    }
  }
  .fa-trash-o{
    padding: 1em;
  }
}



.box-flex{
  .button-full{
    @include box-flex(4);
    height: 8em;
    .btn-black{
      padding: 3.2em 6.5em;
      border: none;
      width:100%;
      height:100%;
      &.left{
        border-right: solid $col-black2 1px;
      }
      &.right{
        border-left: solid $col-black2 1px;
      }
    }
  }
}