@import "../sass/menu.scss";



#template-index{
  text-align: center;
  // .caption{
  //   display: inline;
  //   position: relative;
  //   overflow: auto;
  // }
  .cont{
    display: block;
    overflow: hidden;
    float:left;
    width: 33%;
    padding: 1em 2em;
    .title{
      font-size: 2em;
    }
    ul {
      overflow: hidden;
      display: none;
    }
    span {
      cursor: pointer;
    }

    li {
      cursor: pointer;
      list-style-type: none;
      text-indent: 1em;
    }
  }
  .fa-trash-o{
    padding: 2px;
    border: solid 1px $col-black3;
  }
}

#template-edit{
  .form-template {
    padding: 3em;
    .cont1{
      .title{
        width: 100%;
      }
    }
    .cont2{
      margin: 3em 0 0 0;
      .btn-blue{
        &.add{
          width: 20%;
        }
        &.del{
          width: 10%;
        }
      }
    }
    .cont3{
      margin: 0 auto;
      padding: 0 0 2em  0;
      .attr {
        float:left;
        margin: 1em 2.3em 1em 0;
        .form-control{
          width: 90%;
          border-right: none;
          &.default{
            border: solid #ccc 1px;
            width: 108.5%;
          }
        }
        .btn-delete-attribute {
          font-size: 26px;
          position: absolute;
          width: 34px;
          height: 34px;
          border:solid #cccccc 1px;
          border-left: none;
          background-color: $col-danger;
          color: white;
          @include btn-fade;
          &:hover{
            background-color: $col-danger-hover;
          }
        }
      }
    }
  }
  
  
  
  .submit {
    text-align: right;
  }
  .btn-register {
    margin: 1.875em 0;
  }
  
}

#add-attributes {
    overflow:auto;
  }
  #input-attribute {
    overflow:auto;
  }

.box-flex{
  .button-full{
    @include box-flex(3);
    height: 8em;
    .btn-black{
      padding: 3.2em 9.9em;
      border: none;
      width:100%;
      height:100%;
      &.left{
        border-right: solid $col-black2 1px;
      }
      &.right{
        border-left: solid $col-black2 1px;
      }
    }
  }
}