@import "compass/css3";
@import "_my-mixin.scss";






a.logo{
  font-size: 30px;
  text-align: center;
  width: 100%;
  z-index: 10;
  &:hover{
    color: #a2eb7f;
    background-position: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
}
div{
  .logo{
    width: 230px;
    height: 230px;
    border-radius: 20px;
    margin: 15px 0px 10px 30px;
    float: left;
    z-index: 20;
    &:hover{
    border: 3px solid #97F95A;
    opacity: 0.6;
    filter: alpha(opacity=60);
    }
  }
  

}

div#slidr-img{
  left: 7%;
  width: 86%;
  margin-top:20px;
  z-index: 900;
  img{
    width: 100%;
  }
    
}

