/* CSS reset */
/* line 2, ../../sass/automatic/reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* line 6, ../../sass/automatic/reset.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 10, ../../sass/automatic/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 14, ../../sass/automatic/reset.scss */
fieldset, img {
  border: 0; }

/* line 17, ../../sass/automatic/reset.scss */
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px; }

/* line 23, ../../sass/automatic/reset.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

/* line 27, ../../sass/automatic/reset.scss */
ol, ul {
  list-style: none; }

/* line 30, ../../sass/automatic/reset.scss */
caption, th {
  text-align: left; }

/* line 33, ../../sass/automatic/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* line 37, ../../sass/automatic/reset.scss */
q:before, q:after {
  content: ''; }

/* line 40, ../../sass/automatic/reset.scss */
abbr, acronym {
  border: 0; }
